{% extends "site_base.html" %}


{% block specific_sitefilter_id %}product-specific-site-filter{% endblock %}
{% block global_specific_sitefilter %}
<div class="nav-sidebar" id="nav-filters">
    <div class="wrapper-nav">
        <h3 class="results-head"><strong>6</strong> Products Available </h3>
        <p class="results">Current Site: <strong>None</strong></p>
        
    
        <!-- @TODO match filter with current categories from the backend for specific selected site -->

        <!-- Will be generated here as required by the categories choosing by what the user choose to view on the homepage or navigated somehow to
            the unique URL given to the websites on the backend -->

        <div class="wrapper-dropdown" id="product-categories">
            <span>Categories</span>
            <ul id="categories">
               
            </ul>
        </div>
        
        <div class="wrapper-dropdown" id="product-price-filter">
            <span>Price Range</span>
            <ul id="price">
               
            </ul>
        </div>
        
        <div class="wrapper-dropdown" id="product-trending-filter">
            <span>Trending</span>
            <ul id="trending">
               
            </ul>
        </div>

        <ul class="list-tags">
        <!--@TODO Create cancelable elements after selections above from either drop downs -->
            <li class="close style2"><a href="">A</a></li>
            <li class="close style2"><a href="">B</a></li>

        </ul>
    </div>
</div>   
{% endblock  %}

{% block main_container_id %}content{% endblock %}
{% block body %}
<div class="block last">
    <div class="inner" role="main">
        {% block product %}{% include "product_extend/_product.html" %} {% endblock %}
    </div>
</div>
{% endblock %}


{% if is_paginated %}
    {% block pagination %}
        <div class='magazine-pagination'>
            {% if page_obj.has_previous %}
            <a class="pagination-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
             {% endif %}
            
            <div class='pagination-link active'>{{ page_obj.number }}</div>

            {% if page_obj.has_next %}
            <a class="pagination-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            <div class='pagination-text'>...</div>
            <a class="pagination-link page-next" href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}   
         </div>
    {% endblock %}
{% endif %}

{% block scrollTop %}
 <a href="javascript:void(0)" id="scrollTop">Scroll</a>
{% endblock %}


{% block footer %}{% endblock %}