/**
 * Indie-Scrap CSS Main File 
 * 2014 @author: Amechi Egbe
 * Custom CSS, which some styles may overwrite the base.css
 *
 **/

/******************************** Fonts  *************************************/   


/******************************** General & Body  *************************************/   
html.is--overflow {
    overflow: hidden;
}

body {
  font-family:"futura-pt", "brandon-grotesque", Helvetica,sans-serif;
  font-weight: 300;
  font-size: 16px/1.5;
  line-height: 1.42857143;
  background-color:#fff;
}


.btn {
    -webkit-font-smoothing:antialiased;
    font-weight:400;
    font-style:normal;
    letter-spacing:.125em;
    font-size:9px;
    text-transform:uppercase;
    border:none;
    line-height:16px;
    height:48px;
    padding:16px;
    position:relative
}

.btn:visited, .btn:hover, .btn:focus, .btn:active { 
    text-decoration: none;
    color:#FFF;
}

.btn:active {
    -webkit-box-shadow:none;
    box-shadow:none
}

.btn:focus {
    outline:0
}

@media (min-width:768px) {
    .btn {
        font-size:10px
    }
}


/********************************  Header  *************************************/   

.btn-navbar{
    width:64px;
    height:64px;
    /* background:#FFF; */
    border-radius:0;
    color:#FFF;
    padding:0;
}

.bars {
    position: relative;
    top:25px;
    left:13px;
}

.bar {
    width: 36px;
    height: 3px;
    background: none repeat scroll 0% 0% #FFF;
    margin: 0px 0px 4px;
    padding: 0px;
    display: block;
}


.navbar-left,.navbar-left .btn-navbar {
    float:left;
}

.navbar-right, .navbar-right .btn-navbar {
    float:right;  
}

.navbar-right .btn-navbar .icon-indie_web-02 {
    position: relative;  
    color: #FFF;
    top:30%;
    right:0%;
    font-size:2.2rem;
    font-weight:300;
    vertical-align:middle;
    width:16px;
    height:16px;
}

.navbar {
    border:none;
    height: 0;
    min-height: 0px;
    z-index: 1040;
    text-align: center;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    position:fixed;
    -ms-transition:all 0.5s ease-in;
    -o-transition:all 0.5s ease-in;
    -moz-transition:all 0.5s ease-in;
    transition:all 0.5s ease-in;
}

/*  Registration header settings  */
.indie-registration, 
.indie-product,
.indie-user-account{
  background: none repeat scroll 0% 0% rgba(255,255,255, 1);  
}


/* Product display header settings  */
.indie-product {
    position: fixed;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4); 
}

.indie-user-account {
   box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);   
}


/* commmon sub header properties  */
.indie-registration .navbar-left .bar,
.indie-product .navbar-left .bar,
.indie-user-account  .navbar-left .bar{
    background: #000;
}

.indie-registration .navbar-right .icon-indie_web-02, 
.indie-product .navbar-right .icon-indie_web-02{
    color: #000;
} 





.navbar-left,.navbar-right {
    position:relative
}


/* Logo  */
#navbar_logo_wrapper {
    height:64px;
    overflow:hidden;
    margin:0 auto;
    position:absolute;
    top:0;
    left:0;
    width:100%
}

#navbar_logo {
    opacity:.95;
    filter:alpha(opacity=95);
    background-image:url('');
    background-size:72px 16px;
    display:block;
    height:16px;
    margin:16px auto;
    width:72px;
    position:relative
}

@media (min-width:768px) {
    #navbar_logo {
        background-size:97px 22px;
        background-image:url('');
        background-repeat:no-repeat;
        background-position:center;
        margin-bottom:21px;
        margin-top:21px;
        height:22px;
        width:98px
    }
}


/**********************  Global Website Filter & Menu *************************************/  

/* Common properties  */
.navigation, 
.website-filtersearch,
.dashboard-notifications {
    background:#fff;
    position:fixed;
    width:100%;
    height:100%;
    visibility:hidden;
    bottom:-100%;
    left:0;
    z-index:999999;
}

.navigation,
.website-filtersearch, 
.dashboard-notifications{
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    transition:all 300ms ease
}


.navigation.is--active, 
.website-filtersearch.is--active-search,
.dashboard-notifications.is--active-notify{
    bottom:0;
    visibility:visible;
    overflow:auto
}



/********************************  Global Website Filter  *************************************/  

.indie-fill-websites {
    border-top:1px solid #ebebeb;
}

.indie-fill-panel-wrapper {
    height: 100%;
    width: 100%;
}

.indie-fill-panel-wrapper .empty {
    padding: 10px 24px 24px;
    text-align: center;
}

.indie-fill-panel-wrapper .empty p {
   margin: 0;
   font-weight:400;
    color:#000;
    font-size:2.5rem
}


.btn-search-up {
    opacity: 1;
    width: 44px;
    height: 44px;
    background-image: url("../images/arrow_search_up.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px 22px;
    padding: 22px;
    margin: 24px auto 8px;
    display: block;
}
.btn-clear {
    background-color: transparent !important;
}

.btn .text-hide {
    display: block;
}
.text-hide {
    font: 0px/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0px none;
}

.og-expander {
/*     position: absolute; */
/*     background: #ddd; */
    top: auto;
/*     left: 0; */
    width: 100%;
/*     margin-top: 10px; */
    text-align: left;
    height: 500px;
    border-bottom: 1px solid #EBEBEB;
/*     overflow: hidden; */
}

.og-expander-inner {
    padding: 0px 30px;
    height: 100%;
}


.og-fullimg,
.og-details {
    width: 50%;
    float: left;
    overflow: hidden;
    position: relative;
}

.og-fullimg {
    top:30%
}

.og-details {
    padding: 0 40px 0 20px;
}

.og-fullimg {
    text-align: center;
}

.og-fullimg img {
    display: inline-block;
    max-height: 150px;
    max-width: 150px;
}

.og-details h3 {
    font-weight: 300;
    font-size: 52px;
    padding: 40px 0 10px;
    margin-bottom: 10px;
}

.og-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999;
}

.og-details a {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px ;
    display: inline-block;
    margin: 30px 5px 0px;
    outline: none;  
    color: #000;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: 3px solid #000;
    transition: all 500ms ease 0s;
}


.og-details a:hover {
    background: #000;
    color: #FFF;
}

@media screen and (max-width: 830px) {

    .og-expander h3 { font-size: 32px; }
    .og-expander p { font-size: 13px; }
    .og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

    .og-fullimg { display: none; }
    .og-details { float: none; width: 100%; }
    
}



/*  loader */

#sidebar_right_loader {
    border-left: 1px solid #E0E0E0;
    display: none;
    z-index: 1;
}
.please-wait {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/loading.gif");
    background-size: 65px auto;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1020;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}




/******************************** Global Menu  *************************************/  

.navigation__header__close span.icon-indie_web-03{
    float:right;
    color:inherit;
    margin:-10px -10px 0 0;
    font-size:2.8rem;
    color: #000;
    cursor: pointer;
}

.navigation li a {
    text-decoration:none;
    color:#000;
    outline:none;
}

.navigation__header{
    width: 100%;
    padding: 20px;
    color:#000;
    border-bottom:1px solid #ebebeb
}

.navigation__header-search {
    border: none;
}

.navigation__header__branding{
/*     background-image:url(../img/structure/branding.png); */
}

.navigation__header__close{
    color:#000
}

.navigation__primary ul{
    padding:0;
    margin:0 0 0 0;
    text-align:center;
    list-style:none
}

.navigation__primary li{
    font-size:20px;
    font-size:2rem;
    padding:20px 0px;
    margin:0;
    font-weight:500;
    display:block;
    border-bottom:1px solid #ebebeb;
    letter-spacing:-0.03em
}

@media all and (min-width: 66.25em){
    .navigation__primary li{
        display:inline-block;
        margin-left:50px;
        border-bottom:none
    }

    .navigation__primary li:first-child{
        margin-left:0
    }
}

.navigation__icons ul{
    text-align:center;
    margin:0 0 0 0;
    padding:20px 0;
    line-height:1em;
    font-size:0
}

.navigation__icons ul:after{
    content:"";
    display:table;
    clear:both
}

.navigation__icons li{
    font-size:20px;
    font-size:2rem;
    margin:0;
    padding:0;
    display:inline-block
}

.navigation__icons li:first-child{
    margin-right:50px
}

.navigation__icons li:last-child{
    margin-left:50px
}

.nav_copyright {
    text-align: center;
    color:#000;
    font-weight:400;
}



@media screen and (max-width:720px) {
    .nav_copyright {
        font-size:12px
    }
}

.navigation__sections ul{
    padding:0;
    margin:0;
    list-style:none
}


/******************************** Dropdown Filter  *************************************/  

.nav-sidebar  {
    position: relative;
    text-align: center;
}

.wrapper-nav {
    padding: 14px 30px;
    position: relative;
    box-sizing: border-box;
}

.wrapper-dropdown {
    position:relative;
    display:inline-block;
    height:32px;
    margin:0 auto;
    cursor:pointer;
    line-height:32px;
    outline:0;
    margin-bottom: 10px;
    width: 197px;
    font-size: 16px;
}

/* width: 100%;
height: 60px;
line-height: 60px;
color: #999;
font-weight: 700;
font-size: 16px;
background: none repeat scroll 0% 0% #FFF;
display: block;
padding: 0px 50px 0px 30px;
position: relative; */

.wrapper-dropdown span {
    display:block;
    padding:0 0 0 15px;
    color:#FFF;
    background:#000;
    text-align: left;
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}
.wrapper-nav .results-head {
    font-size:2.0em;
    margin: 0;
}
.wrapper-nav .results {
    font-size:1.4rem
}

.wrapper-dropdown span:hover {
    opacity:.75
}
.wrapper-dropdown span:before {
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    height:32px;
    width:32px;
    background:rgb(189, 195, 199);
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}
.wrapper-dropdown span:after {
    content:'';
    display:block;
    position:absolute;
    top:50%;
    right:11px;
    height:0;
    width:0;
    margin-top:-3px;
    border:solid rgba(0, 0, 0, 0);
    border-top-color:#434343;
    border-width:7px 4px;
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}
.wrapper-dropdown.active span:after {
    margin-top:-11px;
    border-top-color:rgba(0, 0, 0, 0);
    border-bottom-color:#434343
}
.wrapper-dropdown ul {
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    max-height:173px;
    border-top:0;
      border-bottom:1px solid #575757;
     border-right:1px solid #575757;
     border-left:1px solid #575757;
    list-style:none;
    background:#FFF;
    opacity:0;
    z-index: 300;
    visibility:hidden;
    overflow:auto;
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}

.wrapper-dropdown.active ul {
    opacity:1;
    visibility:visible
}
.wrapper-dropdown ul li {
    position:relative;
    line-height:40px;
    border-bottom:1px solid #575757;
  
    font-family:'MuseoSans_Thin';
    font-size:13px
}
.wrapper-dropdown ul li:last-child {
    border-bottom:0
}
.wrapper-dropdown ul li {
    display:block;
    padding:0 0 0 15px;
    color:#000;
      z-index: 9999999999;
    font-size: 15px;
   text-transform: uppercase;
    font-style:normal;
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}
.wrapper-dropdown ul li:hover {
    background:#F93F40
}

/* for websites & products */

.list-tags,
.list-tags-product {
    overflow:hidden
}
.list-tags li,
.list-tags-product li {
    position:relative;
    float:left;
    list-style: none;
    margin:0 6px 6px 0px
}
.list-tags li a,
.list-tags-product li a {
    display:block;
    height:23px;
    padding:0 10px;
    line-height:24px;
    background:#d4d5d6;
    font-size:13px;
    color:#313131;
    border-radius:2px;
    -webkit-transition:background .25s ease-out;
    transition:background .25s ease-out
}
.list-tags li a:hover,
.list-tags-product li a:hover {
    background:#444;
    color:#fff
}

.list-tags li.close a,
.list-tags-product li.close a {
    padding-right:43px;
    height:33px;
    line-height:33px;
    border-radius:0
}
.list-tags li.close.style2 a,
.list-tags-product li.close.style2 a {
    background:#3c948b;
    color:#fff
}
.list-tags li.close a:before,
.list-tags-product li.close a:before {
    content:'✕';
    position:absolute;
    top:0;
    right:0;
    display:block;
    width:33px;
    height:33px;
    background:#444;
    font-size:13px;
    color:#eee;
    text-align:center;
    line-height:34px
}
.list-tags li.close.style2 a:before,
.list-tags-product li.close.style2 a:before {
    background:#fff;
    color:#3c948b
}

/*************** Notifications  ******************/

.ns-box {
    position: fixed;
    background:#ecf0f1;
    width:50%;
    padding: 22px;
    line-height: 1.4;
    margin: 0 auto;
    left: 0;
    right:0;
    pointer-events: none;
    color: #000;
}

.ns-box p {
    margin: 0;
     padding: 0.25em 2em 0.25em 3em;
    font-size:1.8rem;
    font-weight:500
}


.ns-box .icon-indie_web-03 {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 3%;
    top: 30%;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ns-box .icon-indie_web-10 {
    font-size:1.9rem
}

.ns-box .ns-close:hover, 
.ns-box .ns-close:focus {
    outline: none;
}

.ns-box .ns-close::before,
.ns-box .ns-close::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 60%;
    top: 50%;
    left: 50%;
    background: #000;
    pointer-events: auto;
    -webkit-transition: all 0.2s linear; 
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear
}

.ns-box .ns-close:hover::before,
.ns-box .ns-close:hover::after {
    background: #fff;
}

.ns-box .ns-close::before {
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
}

.ns-box .ns-close::after {
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
}

.ns-box .icon {
    position: absolute;
    left: 0.25em;
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.ns-box .ns-box-inner {
    position: relative;
}


/********************************   Option selector  ****************************************/
div.cs-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: #fff;
    z-index: 100;
    width: 100%;
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.cs-select:focus {
    outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
    display: none;
}

.cs-select span {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
    padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
    content: '\25BE';
    right: 1em;
}

.cs-select .cs-selected span::after {
    content: '\2713';
    margin-left: 1em;
}

.cs-select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
    z-index: 200;
}

/* Options */
.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    visibility: hidden;
}

.cs-select.cs-active .cs-options {
    visibility: visible;
}

.cs-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
   
    max-height: 173px;
    overflow: auto;
   
}

.cs-select ul span {
    padding: 1em;
}

.cs-select ul li.cs-focus span {
    background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
    padding-left: 1em;
    
}

.cs-select li.cs-optgroup > span {
    cursor: default;
    
}

div.cs-skin-elastic {
    background: transparent;
    font-size: 1.5em;
    font-weight: 700;
    color: #5b8583;
}

@media screen and (max-width: 30em) {
    div.cs-skin-elastic { font-size: 1em; }
}

.cs-skin-elastic > span {
    background-color: #ecf0f1;
    z-index: 100;
}

/* .cs-skin-elastic > span::after {
    font-family: 'icomoon';
    content: '\e005';
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
} */

.cs-skin-elastic .cs-options {
    overflow: visible;
    background: transparent;
    opacity: 1;
    visibility: visible;
    padding-bottom: 1.25em;
    pointer-events: none;
}

.cs-skin-elastic.cs-active .cs-options {
    pointer-events: auto;
}

.cs-skin-elastic .cs-options > ul::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: scale3d(1,0,1);
    transform: scale3d(1,0,1);
    background:#ecf0f1;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.cs-skin-elastic.cs-active .cs-options > ul::before {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.6s ease-out;
    animation: expand 0.6s ease-out;
}

.cs-skin-elastic .cs-options ul li {
    opacity: 0;
    -webkit-transform: translate3d(0,-25px,0);
    transform: translate3d(0,-25px,0);
    -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
    transition: opacity 0.15s, transform 0.15s;
}

.cs-skin-elastic.cs-active .cs-options ul li {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}

.cs-skin-elastic .cs-options span {
    background-repeat: no-repeat;
    background-position: 1.5em 50%;
    background-size: 2em auto;
    padding: 0.8em 1em 0.8em 4em;
}

.cs-skin-elastic .cs-options span:hover,
.cs-skin-elastic .cs-options li.cs-focus span,
.cs-skin-elastic .cs-options .cs-selected span {
    color: #1e4c4a;
}

.cs-skin-elastic .cs-options .cs-selected span::after {
    content: '';
}


@-webkit-keyframes expand { 
    0% { -webkit-transform: scale3d(1,0,1); }
    25% { -webkit-transform: scale3d(1,1.2,1); }
    50% { -webkit-transform: scale3d(1,0.85,1); }
    75% { -webkit-transform: scale3d(1,1.05,1) }
    100% { -webkit-transform: scale3d(1,1,1); }
}

@keyframes expand { 
    0% { -webkit-transform: scale3d(1,0,1); transform: scale3d(1,0,1); }
    25% { -webkit-transform: scale3d(1,1.2,1); transform: scale3d(1,1.2,1); }
    50% { -webkit-transform: scale3d(1,0.85,1); transform: scale3d(1,0.85,1); }
    75% { -webkit-transform: scale3d(1,1.05,1); transform: scale3d(1,1.05,1); }
    100% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}


@-webkit-keyframes bounce { 
    0% { -webkit-transform: translate3d(0,-25px,0); opacity:0; }
    25% { -webkit-transform: translate3d(0,10px,0); }
    50% { -webkit-transform: translate3d(0,-6px,0); }
    75% { -webkit-transform: translate3d(0,2px,0); }
    100% { -webkit-transform: translate3d(0,0,0); opacity: 1; }
}

@keyframes bounce { 
    0% { -webkit-transform: translate3d(0,-25px,0); transform: translate3d(0,-25px,0); opacity:0; }
    25% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
    50% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); }
    75% { -webkit-transform: translate3d(0,2px,0); transform: translate3d(0,2px,0); }
    100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 1; }
}




/********************************   Dashboard   ****************************************/


#gloabal-content-dashboard {
/*     padding: 5em 0px; */
    font-size: 1.25em;
    min-height: 100%;

}
.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
}

/* Nav */
.tabs nav {
    text-align: center;
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
    text-decoration: none;
}

.tabs nav a span {
    vertical-align: middle;
    font-size: 0.75em;
}

.tabs nav li.tab-current a {
    color: #74777b;
}

.tabs nav a:focus {
    outline: none;
}

/* Content */
.content-wrap {
    position: relative;
}

.content-wrap section {
    /*display: none;*/
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
    text-align: center;
}

.content-wrap section.content-current {
    display: block;
}

.content-wrap section p {
    margin: 0;
    padding: 0.75em 0;
    color:#000;
    font-weight: 900;
    font-size: 4em;
    line-height: 1;
}

/* Fallback */
.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
    display: block;
}

.no-flexbox nav ul li {
    min-width: 15%;
    display: inline-block;
}

@media screen and (max-width: 58em) {
    .tabs nav a:before {
        margin-right: 0;
    }
}

/*****************************/
/* Line */
/*****************************/


.tabs-style-line nav ul {
    padding: 0 2em;
    max-width: none;
    box-shadow: inset 0 -2px #d1d3d2;
    background:
}

.tabs-style-line nav a {
    padding: 1.5em 1.5em;
    color: #74777b;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.8em;
    line-height: 1;
    -webkit-transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s;
}

.tabs-style-line nav a:hover,
.tabs-style-line nav a:focus {
    box-shadow: inset 0 -2px #74777b;
}

.tabs-style-line nav li.tab-current a {
    box-shadow: inset 0 -2px #2CC185;
    color: #2CC185;
}

@media screen and (max-width: 68em) {
    .tabs-style-line nav ul {
        display: block;
        box-shadow: none;
    }
    .tabs-style-line nav ul li {
        display: block;
        -webkit-flex: none;
        flex: none;
    }
    
    .tabs-style-line nav a {
        box-shadow: inset 0 -2px #d1d3d2; 
    }
}


#moments{
    position:relative;
    min-height:1px;
    padding-left:10px;
    padding-right:10px;
    background-color:white
}

@media (min-width:1200px){
    #moments{
        float:left;
        width:100%
    }

}

.moment{
    float:left;
    width:100%;
    position:relative;
    min-height:1px;
    padding-left:10px;
    padding-right:10px;
    padding:0
}

@media (min-width:768px){
    .moment{
        float:left;
        width:33.33333333%
    }

}

.moment .moment-img{
    width:100%
}

.moment a{
    display:block;
    opacity:1;
    text-decoration:none;
    -webkit-transition:opacity .5s ease-out;
    transition:opacity .5s ease-out
}

@media (min-width:768px){
    .moment a:hover{
        opacity:.7;
        -webkit-transition:opacity .5s ease-out;
        transition:opacity .5s ease-out
    }

}

.moments-info{
    padding:5% 10% 12% 10%;
    font-family:'Montserrat',sans-serif;
    text-align:center
}

.moments-title{
    font-size:11px;
    color:#acb1b4;
    text-transform:capitalize
}

.moments-text{
    font-size:13px;
    text-transform:uppercase;
    color:#1e1e1e
}

@media only screen and (max-width:767px){
    .moments-info{
        padding:18px 32px 40px
    }

    .moments-info .moment-title{
        font-size:13px
    }

}


.pure-img{
    max-width:100%;
    height:auto;
    display:block
}

.pure-g{
    letter-spacing:-.31em;
    *letter-spacing:normal;
    *word-spacing:-.43em;
    text-rendering:optimizespeed;
    font-family:FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    display:-webkit-flex;
    -webkit-flex-flow:row wrap;
    display:-ms-flexbox;
    -ms-flex-flow:row wrap
}

.opera-only :-o-prefocus,.pure-g{
    word-spacing:-.43em
}

.pure-u{
    display:inline-block;
    *display:inline;
    zoom:1;
    letter-spacing:normal;
    word-spacing:normal;
    vertical-align:top;
    text-rendering:auto
}

.pure-g [class*="pure-u"]{
    font-family:sans-serif
}

.pure-u-1,.pure-u-1-1,.pure-u-1-2,.pure-u-1-3,.pure-u-2-3,.pure-u-1-4,.pure-u-3-4,.pure-u-1-5,.pure-u-2-5,.pure-u-3-5,.pure-u-4-5,.pure-u-5-5,.pure-u-1-6,.pure-u-5-6,.pure-u-1-8,.pure-u-3-8,.pure-u-5-8,.pure-u-7-8,.pure-u-1-12,.pure-u-5-12,.pure-u-7-12,.pure-u-11-12,.pure-u-1-24,.pure-u-2-24,.pure-u-3-24,.pure-u-4-24,.pure-u-5-24,.pure-u-6-24,.pure-u-7-24,.pure-u-8-24,.pure-u-9-24,.pure-u-10-24,.pure-u-11-24,.pure-u-12-24,.pure-u-13-24,.pure-u-14-24,.pure-u-15-24,.pure-u-16-24,.pure-u-17-24,.pure-u-18-24,.pure-u-19-24,.pure-u-20-24,.pure-u-21-24,.pure-u-22-24,.pure-u-23-24,.pure-u-24-24{
    display:inline-block;
    *display:inline;
    zoom:1;
    letter-spacing:normal;
    word-spacing:normal;
    vertical-align:top;
    text-rendering:auto
}

.pure-u-1,.pure-u-1-1,.pure-u-1-2,.pure-u-1-3,.pure-u-2-3,.pure-u-1-4,.pure-u-3-4,.pure-u-1-6,.pure-u-5-6,.pure-u-1-12,.pure-u-2-12,.pure-u-3-12,.pure-u-4-12,.pure-u-5-12,.pure-u-6-12,.pure-u-7-12,.pure-u-8-12,.pure-u-9-12,.pure-u-10-12,.pure-u-11-12,.pure-u-12-12{
    display:inline-block;
    *display:inline;
    zoom:1;
    letter-spacing:normal;
    word-spacing:normal;
    vertical-align:top;
    text-rendering:auto
}

.pure-u-1-12{
    width:8.3333%;
    *width:8.3023%
}

.pure-u-1-6,.pure-u-2-12{
    width:16.6667%;
    *width:16.6357%
}

.pure-u-1-4,.pure-u-3-12{
    width:25%;
    *width:24.9690%
}

.pure-u-1-3,.pure-u-4-12{
    width:33.3333%;
    *width:33.3023%
}

.pure-u-5-12{
    width:41.6667%;
    *width:41.6357%
}

.pure-u-1-2,.pure-u-6-12{
    width:50%;
    *width:49.9690%
}

.pure-u-7-12{
    width:58.3333%;
    *width:58.3023%
}

.pure-u-2-3,.pure-u-8-12{
    width:66.6667%;
    *width:66.6357%
}

.pure-u-3-4,.pure-u-9-12{
    width:75%;
    *width:74.9690%
}

.pure-u-5-6,.pure-u-10-12{
    width:83.3333%;
    *width:83.3023%
}

.pure-u-11-12{
    width:91.6667%;
    *width:91.6357%
}

.pure-u-1,.pure-u-1-1,.pure-u-12-12{
    width:100%
}

@media screen and (min-width: 35.5em){
    .pure-u-sm-1,.pure-u-sm-1-1,.pure-u-sm-1-2,.pure-u-sm-1-3,.pure-u-sm-2-3,.pure-u-sm-1-4,.pure-u-sm-3-4,.pure-u-sm-1-6,.pure-u-sm-5-6,.pure-u-sm-1-12,.pure-u-sm-2-12,.pure-u-sm-3-12,.pure-u-sm-4-12,.pure-u-sm-5-12,.pure-u-sm-6-12,.pure-u-sm-7-12,.pure-u-sm-8-12,.pure-u-sm-9-12,.pure-u-sm-10-12,.pure-u-sm-11-12,.pure-u-sm-12-12{
        display:inline-block;
        *display:inline;
        zoom:1;
        letter-spacing:normal;
        word-spacing:normal;
        vertical-align:top;
        text-rendering:auto
    }

    .pure-u-sm-1-12{
        width:8.3333%;
        *width:8.3023%
    }

    .pure-u-sm-1-6,.pure-u-sm-2-12{
        width:16.6667%;
        *width:16.6357%
    }

    .pure-u-sm-1-4,.pure-u-sm-3-12{
        width:25%;
        *width:24.9690%
    }

    .pure-u-sm-1-3,.pure-u-sm-4-12{
        width:33.3333%;
        *width:33.3023%
    }

    .pure-u-sm-5-12{
        width:41.6667%;
        *width:41.6357%
    }

    .pure-u-sm-1-2,.pure-u-sm-6-12{
        width:50%;
        *width:49.9690%
    }

    .pure-u-sm-7-12{
        width:58.3333%;
        *width:58.3023%
    }

    .pure-u-sm-2-3,.pure-u-sm-8-12{
        width:66.6667%;
        *width:66.6357%
    }

    .pure-u-sm-3-4,.pure-u-sm-9-12{
        width:75%;
        *width:74.9690%
    }

    .pure-u-sm-5-6,.pure-u-sm-10-12{
        width:83.3333%;
        *width:83.3023%
    }

    .pure-u-sm-11-12{
        width:91.6667%;
        *width:91.6357%
    }

    .pure-u-sm-1,.pure-u-sm-1-1,.pure-u-sm-12-12{
        width:100%
    }

}

@media screen and (min-width: 48em){
    .pure-u-md-1,.pure-u-md-1-1,.pure-u-md-1-2,.pure-u-md-1-3,.pure-u-md-2-3,.pure-u-md-1-4,.pure-u-md-3-4,.pure-u-md-1-6,.pure-u-md-5-6,.pure-u-md-1-12,.pure-u-md-2-12,.pure-u-md-3-12,.pure-u-md-4-12,.pure-u-md-5-12,.pure-u-md-6-12,.pure-u-md-7-12,.pure-u-md-8-12,.pure-u-md-9-12,.pure-u-md-10-12,.pure-u-md-11-12,.pure-u-md-12-12{
        display:inline-block;
        *display:inline;
        zoom:1;
        letter-spacing:normal;
        word-spacing:normal;
        vertical-align:top;
        text-rendering:auto
    }

    .pure-u-md-1-12{
        width:8.3333%;
        *width:8.3023%
    }

    .pure-u-md-1-6,.pure-u-md-2-12{
        width:16.6667%;
        *width:16.6357%
    }

    .pure-u-md-1-4,.pure-u-md-3-12{
        width:25%;
        *width:24.9690%
    }

    .pure-u-md-1-3,.pure-u-md-4-12{
        width:33.3333%;
        *width:33.3023%
    }

    .pure-u-md-5-12{
        width:41.6667%;
        *width:41.6357%
    }

    .pure-u-md-1-2,.pure-u-md-6-12{
        width:50%;
        *width:49.9690%
    }

    .pure-u-md-7-12{
        width:58.3333%;
        *width:58.3023%
    }

    .pure-u-md-2-3,.pure-u-md-8-12{
        width:66.6667%;
        *width:66.6357%
    }

    .pure-u-md-3-4,.pure-u-md-9-12{
        width:75%;
        *width:74.9690%
    }

    .pure-u-md-5-6,.pure-u-md-10-12{
        width:83.3333%;
        *width:83.3023%
    }

    .pure-u-md-11-12{
        width:91.6667%;
        *width:91.6357%
    }

    .pure-u-md-1,.pure-u-md-1-1,.pure-u-md-12-12{
        width:100%
    }

}

@media screen and (min-width: 64em){
    .pure-u-lg-1,.pure-u-lg-1-1,.pure-u-lg-1-2,.pure-u-lg-1-3,.pure-u-lg-2-3,.pure-u-lg-1-4,.pure-u-lg-3-4,.pure-u-lg-1-6,.pure-u-lg-5-6,.pure-u-lg-1-12,.pure-u-lg-2-12,.pure-u-lg-3-12,.pure-u-lg-4-12,.pure-u-lg-5-12,.pure-u-lg-6-12,.pure-u-lg-7-12,.pure-u-lg-8-12,.pure-u-lg-9-12,.pure-u-lg-10-12,.pure-u-lg-11-12,.pure-u-lg-12-12{
        display:inline-block;
        *display:inline;
        zoom:1;
        letter-spacing:normal;
        word-spacing:normal;
        vertical-align:top;
        text-rendering:auto
    }

    .pure-u-lg-1-12{
        width:8.3333%;
        *width:8.3023%
    }

    .pure-u-lg-1-6,.pure-u-lg-2-12{
        width:16.6667%;
        *width:16.6357%
    }

    .pure-u-lg-1-4,.pure-u-lg-3-12{
        width:25%;
        *width:24.9690%
    }

    .pure-u-lg-1-3,.pure-u-lg-4-12{
        width:33.3333%;
        *width:33.3023%
    }

    .pure-u-lg-5-12{
        width:41.6667%;
        *width:41.6357%
    }

    .pure-u-lg-1-2,.pure-u-lg-6-12{
        width:50%;
        *width:49.9690%
    }

    .pure-u-lg-7-12{
        width:58.3333%;
        *width:58.3023%
    }

    .pure-u-lg-2-3,.pure-u-lg-8-12{
        width:66.6667%;
        *width:66.6357%
    }

    .pure-u-lg-3-4,.pure-u-lg-9-12{
        width:75%;
        *width:74.9690%
    }

    .pure-u-lg-5-6,.pure-u-lg-10-12{
        width:83.3333%;
        *width:83.3023%
    }

    .pure-u-lg-11-12{
        width:91.6667%;
        *width:91.6357%
    }

    .pure-u-lg-1,.pure-u-lg-1-1,.pure-u-lg-12-12{
        width:100%
    }

}

@media screen and (min-width: 80em){
    .pure-u-xl-1,.pure-u-xl-1-1,.pure-u-xl-1-2,.pure-u-xl-1-3,.pure-u-xl-2-3,.pure-u-xl-1-4,.pure-u-xl-3-4,.pure-u-xl-1-6,.pure-u-xl-5-6,.pure-u-xl-1-12,.pure-u-xl-2-12,.pure-u-xl-3-12,.pure-u-xl-4-12,.pure-u-xl-5-12,.pure-u-xl-6-12,.pure-u-xl-7-12,.pure-u-xl-8-12,.pure-u-xl-9-12,.pure-u-xl-10-12,.pure-u-xl-11-12,.pure-u-xl-12-12{
        display:inline-block;
        *display:inline;
        zoom:1;
        letter-spacing:normal;
        word-spacing:normal;
        vertical-align:top;
        text-rendering:auto
    }

    .pure-u-xl-1-12{
        width:8.3333%;
        *width:8.3023%
    }

    .pure-u-xl-1-6,.pure-u-xl-2-12{
        width:16.6667%;
        *width:16.6357%
    }

    .pure-u-xl-1-4,.pure-u-xl-3-12{
        width:25%;
        *width:24.9690%
    }

    .pure-u-xl-1-3,.pure-u-xl-4-12{
        width:33.3333%;
        *width:33.3023%
    }

    .pure-u-xl-5-12{
        width:41.6667%;
        *width:41.6357%
    }

    .pure-u-xl-1-2,.pure-u-xl-6-12{
        width:50%;
        *width:49.9690%
    }

    .pure-u-xl-7-12{
        width:58.3333%;
        *width:58.3023%
    }

    .pure-u-xl-2-3,.pure-u-xl-8-12{
        width:66.6667%;
        *width:66.6357%
    }

    .pure-u-xl-3-4,.pure-u-xl-9-12{
        width:75%;
        *width:74.9690%
    }

    .pure-u-xl-5-6,.pure-u-xl-10-12{
        width:83.3333%;
        *width:83.3023%
    }

    .pure-u-xl-11-12{
        width:91.6667%;
        *width:91.6357%
    }

    .pure-u-xl-1,.pure-u-xl-1-1,.pure-u-xl-12-12{
        width:100%
    }

}

.box-button,a.box-button,a.box-button:visited{
    border:2px solid #fff;
  
    font-weight:bold;
    font-size:12px;
    letter-spacing:3px;
    color:#fff;
    text-transform:uppercase;
    text-align: center;
    padding: 10px 20px;
    text-shadow:none;
    text-decoration: none;
    display:inline-block
}

.no-touch .box-button:hover,.no-touch a.box-button:hover{
    background:#fff;
    color:#000
}

.box-button.dark,a.box-button.dark:visited{
    background:none;
    color:#000;
    border-color:#000
}

.no-touch .box-button.dark:hover,.no-touch a.box-button.dark:hover{
    background:#000;
    color:#fff
}

.no-touch .box-button.dark:hover a,.no-touch .box-button.dark:hover a:visited,.no-touch .box-button.dark:hover a:hover,.no-touch a.box-button.dark:hover a,.no-touch a.box-button.dark:hover a:visited,.no-touch a.box-button.dark:hover a:hover{
    color:#000
}

.slide{
    overflow:hidden;
    position:absolute;
    top:0px;
    width:100%
}

.featured-work-grid{
    position:relative;
    height:100%
}

.featured-work-grid .relative-container{
    position:relative;
    height:100%;
    width:auto;
    text-align:center;
    display:table
}

.featured-work-grid .relative-container .box-button{
    display:block;
    visibility:hidden;
    position:relative;
    z-index:12;
    top:0em;
    opacity:0;
    width:10em;
    margin:auto;
    transition:all 0.3s ease
}

.featured-work-grid .grid-tint{
    opacity:0.8;
    position:absolute;
    height:100%;
    width:100%;
    z-index:0;
    display:block;
    transition:all 0.3s ease-in;
    left:0%;
    top:0%
}

.featured-work-grid .relative-container:hover .grid-tint{
    width:108%;
    height:108%;
    left:-4%;
    top:-4%;
    opacity:1;
    transition:all 0.3s ease
}

.featured-work-grid .relative-container:hover label{
    top:0.5em;
    transition:all 0.3s ease;
    opacity:0
}

.featured-work-grid .relative-container:hover .box-button{
    visibility:visible;
    opacity:1;
    top:-1em;
    transition:all 0.3s ease
}

.featured-work-grid .pure-g{
    max-height:50%;
    height:50%
}

.featured-work-grid .pure-u-sm-1-3{
    text-align:center;
    overflow:hidden;
    height:100%
}

.featured-work-grid img{
    width:100%;
    min-width:100%;
    min-height:100%;
    height:100%
}

.featured-work-grid .table-cell{
    vertical-align:middle;
    display:table-cell
}

.featured-work-grid label{
    font-family:"futura-pt";
    font-weight:bold;
    font-size:24px;
    letter-spacing:1px;
    color:#fff;
    transition:all 0.3s ease;
    display:inline-block;
    position:relative;
    z-index:10;
    top:1.5em;
    width:75%;
    line-height:1.3
}

.featured-work-grid a:hover{
    opacity:0.7;
    transition:opacity 0.3s ease
}

.featured-work-grid a[data-href]{
    cursor:pointer
}

@media only screen and (max-width: 600px){
    .featured-work-grid label{
        top:0.9em
    }

/*     .featured-work-grid .relative-container a.box-button{
        width:10em
    }
 */
    .featured-work-grid .relative-container:hover a.box-button{
        top:-1em
    }

}

@media only screen and (max-width: 35.5em){
    .featured-work-grid .pure-u-1{
        max-height:33.34%
    }

    .featured-work-grid a{
        top:10%
    }

}

body.home {
    background:#000
}

#section0 {
    background-image: url("https://unsplash.com/photos/_hsVU_-QX5w/download");
      background-position:50% 50%;  
}
#section0, #section1, #section2, #section3 {
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
}



.home .page-intro h1{
    font-size:46px;
    letter-spacing:5px;
    text-transform:uppercase;
      font-family:"futura-pt";
    position:relative;
    color:#a30134;
    line-height:48px;
    font-weight:normal
}

.home .page-intro p{
    font-family:Courier,serif;
    font-weight:normal;
    font-size:18px;
    line-height:30px;
    margin-bottom:20px
}


.scroll-arrow{
    position:absolute;
    left:50%;
    bottom:40px;
    background-image:url("../images/down-x2.png");
    height:13px;
    width:22px;
    margin-left:-13px;
    background-size:22px 13px;
    opacity:0;
    cursor:pointer
}

.scroll-arrow:hover{
    transition:opacity ease-in-out 0.2s;
    opacity:1 !important
}

.page-intro{
    text-align:center;
    position:relative;
    top:50%;
    display:inline-block;
    margin-top:-92px;
    width:100%
}

.page-intro h1{
    position:relative;
    margin-bottom:37px
}

.page-intro h1:after{
    content:"";
    width:20px;
    height:2px;
    position:absolute;
    left:50%;
    margin-left:-13px;
    bottom:-18px;
    background-color:#fff
}


.page-intro p{
    min-width:300px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    width:60%
}



.home .page-intro h1,.home .page-intro p{
    color:#fff
}

.home .page-intro h1{
    margin-top:27px;
    margin-bottom :27px;
    position:relative
}


/* 
.home .page-intro h1::before {
    position: absolute;

    width: 180px;
    height: 50px;
    background-size: 180px 50px;
    content: "";
    top: -16px;
    left: 50%;
    margin-left: -105px;
}
 */
.page-intro h1::after {
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    left: 50%;
    margin-left: -13px;
    bottom: -18px;
    background-color: #FFF;
}


@media (max-width: 800px){

  
    .home .top-container{
        background-image:url("");
        background-position:top 100%;
        background-size:100%
    }

}

@media (max-width: 750px){



    .page-intro p{
        width:100%
    }



}


@media (max-width: 500px){



    .page-intro p{
        min-width:0;
        width:80%
    }


    .home .top-container{
        background-image:url("");
        background-size:150%;
        background-position-x:80%;
        background-position-y:40%
    }

}


























