/**
 * Indie-Scrap CSS Main File 
 * 2014 @author: Amechi Egbe
 * Custom CSS, which some styles may overwrite the base.css
 *
 **/

/******************************** Fonts  *************************************/   


/******************************** General & Body  *************************************/   
html.is--overflow {
    overflow: hidden;
}

body {
  font-family:"futura-pt", "brandon-grotesque", Helvetica,sans-serif;
  font-weight: 300;
  font-size: 16px/1.5;
  line-height: 1.42857143;
  background-color:#fff;
}


.btn {
/*     font-family:FuturaStd-Bold,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    -webkit-font-smoothing:antialiased;
    font-weight:400;
    font-style:normal;
    letter-spacing:.125em;
    font-size:9px;
    text-transform:uppercase;
    border:none;
    line-height:16px;
    height:48px;
    padding:16px;
    position:relative
}

.btn:visited, .btn:hover, .btn:focus, .btn:active { 
    text-decoration: none;
    color:#FFF;
}

.btn:active {
    -webkit-box-shadow:none;
    box-shadow:none
}

.btn:focus {
    outline:0
}

@media (min-width:768px) {
    .btn {
        font-size:10px
    }
}


/********************************  Header  *************************************/   

.btn-navbar{
    width:64px;
    height:64px;
    /* background:#FFF; */
    border-radius:0;
    color:#FFF;
    padding:0;
}

.bars {
    position: relative;
    top:25px;
    left:13px;
}

.bar {
    width: 36px;
    height: 3px;
    background: none repeat scroll 0% 0% #FFF;
    margin: 0px 0px 4px;
    padding: 0px;
    display: block;
}


.navbar-left,.navbar-left .btn-navbar {
    float:left;
}

.navbar-right, .navbar-right .btn-navbar {
    float:right;  
}

.navbar-right .btn-navbar .icon-indie_web-02 {
    position: relative;  
    color: #FFF;
    top:30%;
    right:0%;
    font-size:2.2rem;
    font-weight:300;
    vertical-align:middle;
    width:16px;
    height:16px;
}

.navbar {
    border:none;
    height: 64px;
    min-height: 0px;
    z-index: 1040;
    text-align: center;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    position:relative;
    -ms-transition:all 0.5s ease-in;
    -o-transition:all 0.5s ease-in;
    -moz-transition:all 0.5s ease-in;
    transition:all 0.5s ease-in;
}

/*  Registration header settings  */
.indie-registration, 
.indie-product,
.indie-user-account{
  background: none repeat scroll 0% 0% rgba(255,255,255, 1);  
}


/* Product display header settings  */
.indie-product {
    position: fixed;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4); 
}

.indie-user-account {
   box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);   
}


/* commmon sub header properties  */
.indie-registration .navbar-left .bar,
.indie-product .navbar-left .bar,
.indie-user-account  .navbar-left .bar{
    background: #000;
}

.indie-registration .navbar-right .icon-indie_web-02, 
.indie-product .navbar-right .icon-indie_web-02{
    color: #000;
} 





.navbar-left,.navbar-right {
    position:relative
}


/* Logo  */
#navbar_logo_wrapper {
    height:64px;
    overflow:hidden;
    margin:0 auto;
    position:absolute;
    top:0;
    left:0;
    width:100%
}

#navbar_logo {
    opacity:.95;
    filter:alpha(opacity=95);
    background-image:url('');
    background-size:72px 16px;
    display:block;
    height:16px;
    margin:16px auto;
    width:72px;
    position:relative
}

@media (min-width:768px) {
    #navbar_logo {
        background-size:97px 22px;
        background-image:url('');
        background-repeat:no-repeat;
        background-position:center;
        margin-bottom:21px;
        margin-top:21px;
        height:22px;
        width:98px
    }
}



/********************************  Global Website Filter  *************************************/  
.website-filtersearch {
    background:#fff;
    position:fixed;
    width:100%;
    height:100%;
    visibility:hidden;
    top:-100%;
    left:0;
    z-index:999999;
}

 .website-filtersearch{
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    transition:all 300ms ease
}

.website-filtersearch.is--active-search{
    top:0;
    visibility:visible;
    overflow:auto
}



#home-site-filter {
    background: #FFF;
    width:100%;
    color: #000;
    height:100px;
    overflow:hidden;
    position:relative;
    text-align: center;
    display:inline-block;
    vertical-align:top;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    z-index:0;
    border-bottom: 1px solid #bdc3c7;
    margin-bottom:10px;
}

#home-site-filter .search-wrapper{
    border:none !important;   
    margin: 0 0 0;   
}


#home-site-filter .search-wrapper input[type=email], input[type=text]{
    background-color:#ebebeb;
    border:none;
    border-radius:0;
    color:#525252;
    box-sizing:border-box;
    display:block;
    font-size:20px;
    line-height:1.3em;
    font-weight:500;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    margin:20px 0;
    outline:none !important;
    padding:14px 14px 12px;
    width:100%;
    -webkit-transition:border-bottom 0.2s ease-in-out;
    transition:border-bottom 0.2s ease-in-out
}

#home-site-filter .search-label {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpFOUZBQUZGQUE4NzQxMUUyQjRFNUJCRjM1RDcwRUUyNCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpFOUZBQUZGQkE4NzQxMUUyQjRFNUJCRjM1RDcwRUUyNCI%2BIDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkU5RkFBRkY4QTg3NDExRTJCNEU1QkJGMzVENzBFRTI0IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkU5RkFBRkY5QTg3NDExRTJCNEU1QkJGMzVENzBFRTI0Ii8%2BIDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY%2BIDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8%2BDT17TgAAAfBJREFUeNrsmb9Lw1AQxxsVpSgKRQdLHeqsToVsdQsu4iS4%2Bo%2B5CtXNX0VBOikBwfoP6KYWFy0KWmvjPbhCOS6xL6k5i3fwGV6Sl973%2Bu5HqRMEQWaYbSQz5KYCVIAKUAEqQAWoAEkbs93gOE7U7RxQAvK4bgBXwFO%2F77eezcwGG0KsDFSBL%2FNKQgc4B7xf8SehgCywwzgdxi4w9VcEZDGygSV%2BlAhbfxzbM9eTAyby2%2BT2J3AGXOPRWQHWgAny3D6wKZkDZSayNaDIfEQBOGaeX5c8QlXG%2BfGIOI0Ch2TPpZSAHKk2LWCxjy97HnglIhaSCojTyEqkAZozf9vHvgfggFxzJTpxnqxvLPbWmfwQHyU6NjWDrNsSAhpkvWyxd4msHxOHL0YSz2HUu4n4ziUjY7NAkyRxXqqM0g58gqUytP8BFab0ivUBj2lMR1gquchXmOc96VHCDGZb5PYblso6OmnO%2FAYwTZ5rYTf3JcfpSXQgiMkL1wfSHqfNVLln4fTHTyLSFtA1M5hdRDhewzPvotOhItLMgUzI5OliWW1jnTfC7sn4cEryookCfamflLbGfRPPJgBpDHODMB8j3uy5NgOsptGJB2kuRj7AUbsonQNxrICRN7lyZ%2B2P%2FkemAlSAClABKkAFqIB%2FLOBbgAEAtanAZiko%2Bj0AAAAASUVORK5CYII%3D");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 60px;
    background-size: 48px auto;
    display: block;
    color: #000;
    position: absolute;
    z-index: 5;
}


#home-site-filter .search-wrapper  input[type=email]:focus,input[type=text]:focus{
    background-color:#f2f2f2
}

::-webkit-input-placeholder{
    color:#000;
    font-weight:500;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased
}

:-moz-placeholder{
    color:#000;
    font-weight:500;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased
}

::-moz-placeholder{
    color:#000;
    font-weight:500;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased
}

:-ms-input-placeholder{
    color:#000;
    font-weight:500;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased
}

#home-site-filter .search-input-container{
    position:relative;
    height:100%;
    overflow:hidden
}

#home-site-filter .search-input-tablet-and-desktop{
    height:100%
}

#home-site-filter input.search-input{
    background:none !important;
    color:#000;
    font-size:20px;
    font-weight:500;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    height:100px;
    margin:0;
    max-width:100%;
/*     padding:20px 0px 0px 0px; */
    padding: 0px 48px 0px 52px;
    position:relative;
    text-align:left;
    z-index:10;
    -webkit-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out
}


@media only screen and (max-width: 985px){
    #home-site-filter input.search-input{
        font-size:18px
    }
    
    #home-site-filter  .results {
      font-size: 13px;
    }

}

@media only screen and (max-width: 540px){
    #home-site-filter input.search-input{
        font-size:13px;
    }
    
    #home-site-filter  .results {
      font-size: 13px;
    }

}

@media only screen and (max-width: 540px){
    #home-site-filter .search-input-tablet-and-desktop{
        display:none
    }
}

#home-site-filter .search-input-tablet-and-desktop{
    display:block
}


.indie-fill-websites {
    border-top:1px solid #ebebeb;
}

.indie-fill-panel-wrapper {
    height: 100%;
    width: 100%;
}

.indie-fill-panel-wrapper .empty {
    padding: 10px 24px 24px;
    text-align: center;
}

.indie-fill-panel-wrapper .empty p {
   margin: 0;
   font-weight:400;
    color:#000;
    font-size:2.5rem
}


.btn-search-up {
    opacity: 1;
    width: 44px;
    height: 44px;
    background-image: url("../images/arrow_search_up.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px 22px;
    padding: 22px;
    margin: 24px auto 8px;
    display: block;
}
.btn-clear {
    background-color: transparent !important;
}

.btn .text-hide {
    display: block;
}
.text-hide {
    font: 0px/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0px none;
}


/*  loader */

#sidebar_right_loader {
    border-left: 1px solid #E0E0E0;
    display: none;
    z-index: 1;
}
.please-wait {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/loading.gif");
    background-size: 65px auto;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1020;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}




/******************************** Global Menu  *************************************/  

.navigation__header__close span.icon-indie_web-03{
    float:right;
    color:inherit;
    padding:10px 10px 10px 10px;
    margin:-10px -10px 0 0;
    font-size:2.8rem;
    color: #000;
    cursor: pointer;
}

.navigation {
    background:#fff;
    position:fixed;
    width:100%;
    height:100%;
    visibility:hidden;
    bottom:-100%;
    left:0;
    z-index:999999;
}

 .navigation{
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    transition:all 300ms ease
}

.navigation.is--active{
    bottom:0;
    visibility:visible;
    overflow:auto
}

.navigation li a {
    text-decoration:none;
    color:#000;
    outline:none;
}

.navigation__header{
    width: 100%;
    padding: 20px;
    color:#000;
    border-bottom:1px solid #ebebeb
}

.navigation__header-search {
    border: none;
}

.navigation__header__branding{
/*     background-image:url(../img/structure/branding.png); */
}

.navigation__header__close{
    color:#000
}

.navigation__primary ul{
    padding:0;
    margin:0 0 0 0;
    text-align:center;
    list-style:none
}

.navigation__primary li{
    font-size:20px;
    font-size:2rem;
    padding:20px 0;
    margin:0;
    font-weight:500;
    display:block;
    border-bottom:1px solid #ebebeb;
    letter-spacing:-0.03em
}

@media all and (min-width: 46.25em){
    .navigation__primary li{
        display:inline-block;
        margin-left:50px;
        border-bottom:none
    }

    .navigation__primary li:first-child{
        margin-left:0
    }
}

.navigation__icons ul{
    text-align:center;
    margin:0 0 0 0;
    padding:20px 0;
    line-height:1em;
    font-size:0
}

.navigation__icons ul:after{
    content:"";
    display:table;
    clear:both
}

.navigation__icons li{
    font-size:20px;
    font-size:2rem;
    margin:0;
    padding:0;
    display:inline-block
}

.navigation__icons li:first-child{
    margin-right:50px
}

.navigation__icons li:last-child{
    margin-left:50px
}

.nav_copyright {
    text-align: center;
    color:#000;
    font-weight:400;
}



@media screen and (max-width:720px) {
    .nav_copyright {
        font-size:12px
    }
}

.navigation__sections ul{
    padding:0;
    margin:0;
    list-style:none
}

.navigation__sections li{
    padding:0;
    margin:0;
    text-align:center;
    font-weight:500;
    letter-spacing:-0.025em
}

.navigation__sections li:first-child{
    border-top:1px solid #ebebeb
}

.navigation__sections li a{
    overflow:hidden;
    color:#000;
    padding:15px 10px;
    display:block;
    position:relative
}

@media all and (min-width: 64em){
    .navigation__sections li a{
        padding:35px 10px
    }

}

.navigation__sections li a:after{
    -webkit-transition:all 200ms ease-in-out;
    -moz-transition:all 200ms ease-in-out;
    transition:all 200ms ease-in-out;
    width:0%;
    height:100%;
    top:0;
    left:50%;
    content:'';
    position:absolute;
    z-index:-1;
    opacity:0
}

.no-touch .navigation__sections li a:hover{
    color:#fff
}

.no-touch .navigation__sections li a:hover .navigation__sections__number{
    border-color:#fff
}

.no-touch .navigation__sections li a:hover::after{
    width:100%;
    opacity:1;
    left:0
}

.no-touch .navigation__sections li:nth-child(1) a:after{
    background:#22d1bf
}

.no-touch .navigation__sections li:nth-child(2) a:after{
    background:#5119bc
}

.no-touch .navigation__sections li:nth-child(3) a:after{
    background:#be921f
}

.no-touch .navigation__sections li:nth-child(4) a:after{
    background:#6caddf
}

.no-touch .navigation__sections li:nth-child(5) a:after{
    background:#fc1260
}

.no-touch .navigation__sections li:nth-child(6) a:after{
    background:#a920dc
}

.no-touch .navigation__sections li:nth-child(7) a:after{
    background:#1db267
}

.no-touch .navigation__sections li:nth-child(8) a:after{
    background:#fdb62b
}

.no-touch .navigation__sections li:nth-child(9) a:after{
    background:#5f7e14
}

.no-touch .navigation__sections li:nth-child(10) a:after{
    background:#1266fb
}

.navigation__sections__number{
    font-size:24px;
    font-size:2.4rem;
    height:50px;
    width:50px;
    display:inline-block;
    border:2px solid #000;
    line-height:50px;
    margin-bottom:10px
}

.navigation__sections__text{
    font-size:28px;
    font-size:2.8rem;
    line-height:30px;
    line-height:3rem;
    margin-top:-1px;
    margin-top:-0.1rem;
    display:block;
    letter-spacing:-0.025em
}

@media all and (min-width: 64em){
    .navigation__sections__text{
        font-size:50px;
        font-size:5rem;
        line-height:60px;
        line-height:6rem;
        margin-top:-5px;
        margin-top:-0.5rem
    }

}


/******************************** Dropdown Filter  *************************************/  

.nav-sidebar  {
    position: relative;
    text-align: center;
}

.wrapper-nav {
    padding: 14px 30px;
    position: relative;
    box-sizing: border-box;
}

.wrapper-dropdown {
    position:relative;
    display:inline-block;
    height:32px;
    margin:0 auto;
    cursor:pointer;
    line-height:32px;
    outline:0;
    margin-bottom: 10px;
    width: 197px;
    font-size: 16px;
}

/* width: 100%;
height: 60px;
line-height: 60px;
color: #999;
font-weight: 700;
font-size: 16px;
background: none repeat scroll 0% 0% #FFF;
display: block;
padding: 0px 50px 0px 30px;
position: relative; */

.wrapper-dropdown span {
    display:block;
    padding:0 0 0 15px;
    color:#FFF;
    background:#000;
    text-align: left;
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}
.wrapper-nav .results-head {
    font-size:2.0em;
    margin: 0;
}
.wrapper-nav .results {
    font-size:1.4rem
}

.wrapper-dropdown span:hover {
    opacity:.75
}
.wrapper-dropdown span:before {
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    height:32px;
    width:32px;
    background:rgb(189, 195, 199);
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}
.wrapper-dropdown span:after {
    content:'';
    display:block;
    position:absolute;
    top:50%;
    right:11px;
    height:0;
    width:0;
    margin-top:-3px;
    border:solid rgba(0, 0, 0, 0);
    border-top-color:#434343;
    border-width:7px 4px;
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}
.wrapper-dropdown.active span:after {
    margin-top:-11px;
    border-top-color:rgba(0, 0, 0, 0);
    border-bottom-color:#434343
}
.wrapper-dropdown ul {
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    max-height:173px;
    border-top:0;
      border-bottom:1px solid #575757;
     border-right:1px solid #575757;
     border-left:1px solid #575757;
    list-style:none;
    background:#FFF;
    opacity:0;
    z-index: 300;
    visibility:hidden;
    overflow:auto;
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}

.wrapper-dropdown.active ul {
    opacity:1;
    visibility:visible
}
.wrapper-dropdown ul li {
    position:relative;
    line-height:40px;
    border-bottom:1px solid #575757;
  
    font-family:'MuseoSans_Thin';
    font-size:13px
}
.wrapper-dropdown ul li:last-child {
    border-bottom:0
}
.wrapper-dropdown ul li {
    display:block;
    padding:0 0 0 15px;
    color:#000;
      z-index: 9999999999;
    font-size: 15px;
   text-transform: uppercase;
    font-style:normal;
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}
.wrapper-dropdown ul li:hover {
    background:#F93F40
}

.list-tags {
    overflow:hidden
}
.list-tags li {
    position:relative;
    float:left;
    list-style: none;
    margin:0 6px 6px 0px
}
.list-tags li a {
    display:block;
    height:23px;
    padding:0 10px;
    line-height:24px;
    background:#d4d5d6;
    font-size:13px;
    color:#313131;
    border-radius:2px;
    -webkit-transition:background .25s ease-out;
    transition:background .25s ease-out
}
.list-tags li a:hover {
    background:#444;
    color:#fff
}

.list-tags li.close a {
    padding-right:43px;
    height:33px;
    line-height:33px;
    border-radius:0
}
.list-tags li.close.style2 a {
    background:#3c948b;
    color:#fff
}
.list-tags li.close a:before {
    content:'✕';
    position:absolute;
    top:0;
    right:0;
    display:block;
    width:33px;
    height:33px;
    background:#444;
    font-size:13px;
    color:#eee;
    text-align:center;
    line-height:34px
}
.list-tags li.close.style2 a:before {
    background:#fff;
    color:#3c948b
}

/********************************  Homepage  *************************************/  

body.home {
    font-family:"futura-pt",Helvetica,sans-serif;
    font-size:16px;
    padding:0;
    margin:0;
    line-height:1.5;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-text-size-adjust:none!important
}


.body {
    margin:0 auto;
    padding-left:20px;
    padding-right:20px;
    max-width:1820px
}


.body {
    zoom:1
}

.body:before,.body:after {
    content:"";
    display:table
}

.body:after {
    clear:both
}


body.home .body {
    font-size:1em;
    margin:4.375em auto;
    font-weight: 300;
    text-align:center
}


@media only screen and (min-width: 760px) {
    .body {
        padding-left:110px;
        padding-right:110px
    }
}

.body {
    margin:50px auto
}



.body p:first-child{
    margin-top:0
}


body.home .body a {
    color:#fff
}


body.home .body li a {
    display:inline-block;
    text-align:center;
    color:#fff;
    padding:18px 30px;
    text-decoration:none;
    font-weight:700;
    font-size:10px;
    line-height:1;
    text-transform:uppercase;
    position:relative;
    height:50px;
    min-width:185px;
    background:none;
    color:#111!important;
    border:2px solid #111;
    -webkit-transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    transition:all 500ms ease
}

@media only screen and (min-width: 1000px) {
    body.home .body li a {
        padding:21px 30px;
        height:60px;
        font-size:12px;
        min-width:198px
    }
}

body.home .body li a:hover {
    background:#111;
    color:#fff!important
}

body.home .body li a {
    border-color:#fff;
    color:#fff!important
}

body.home .body li a:hover {
    background:#fff;
    color:#111!important
}

body.home .body h1 {
    font-weight:700;
}

body.home .body .icon-indie_web-09 {
   position: absolute;
    font-size:1.3rem;
    margin-left: 10px;
    top:34%
    
}


body.home  h1 {
    font-size:1.8em;
    margin:0;
    text-transform:none;
    line-height:1.25
}

@media only screen and (min-width: 500px) {
   body.home  h1{
        font-size:2.4em;
        line-height:1.08333
    }
}

body.home .body h1 {
    margin:0
}

@media only screen and (min-width: 500px) {
    body.home .body h1 {
        font-size:1.8em
    }
}

@media only screen and (min-width: 1000px) {
    body.home .body h1 {
        font-size:2.4em
    }
}

@media only screen and (max-width: 500px) {
    body.home .body h1 {
        font-size:1.8em
    }
}

body.home .body ul {
    padding:0;
    list-style:none
}

body.home .body li {
    display:block;
    margin:10px
}

@media only screen and (min-width: 500px) {
    body.home .body {
        font-size:1.4em;
        position:relative;
        top:50%;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        margin:0 auto
    }

    body.home .body li {
        display:inline-block
    }
}

@media only screen and (min-width: 760px) {
    body.home .body {
        padding:0;
        max-width:700px
    }
}


/********************************   Paginate   *************************************/  
.magazine-pagination {
    text-align: center;
}

.pagination-link.active {
    color: #000;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
}

.pagination-text, .pagination-link {
    color:  #BDC3C7;
    font-size: 42px;
    font-weight: 300;
    -moz-osx-font-smoothing: grayscale;
    padding: 24px 8px;
    display: inline-block;
    transition: all 0.2s ease-in-out 0s;
}

.page-next {
    margin-left: 24px;
}

/********************************  ScrollTop  *************************************/  

#scrollTop {
    position: fixed;
    z-index:99999;
    bottom: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
    display: none;
    text-indent: -9999px;
    outline: none;
    background: url("../images/top.png") no-repeat scroll 0% 0% transparent;
}

    

/****************************** Product Menu  *****************************/
#product-specific-site-filter {
    padding-top:64px;
}

/********************************  Product Grid    *************************************/   


#content {
    -webkit-transition:padding .25s ease-out;
    -moz-transition:padding .25s ease-out;
    -o-transition:padding .25s ease-out;
    transition:padding .25s ease-out;
    box-sizing:border-box;
    margin:0 auto;
    max-width:1203px;
    min-width:310px;
/*padding: 0px 42px;*/
    position:relative;
    width:100%;

  
}

#content:after {
    content:'';
    display:block;
    clear:both
}

.block {
    position:relative;
    padding:0 0 50px
}

.block:after {
    content:'';
    display:block;
    clear:both
}

.block:first-child {
    padding-top:27px
}

.block.last {
    padding-bottom:0
}

.block:last-child {
    margin-bottom:0;
    border-bottom:0
}

.grid {
    clear:both;
    margin:0 23px 0 0
}

.grid:after {
    content:'';
    display:block;
    clear:both
}

.inner .grid {
    margin:0 0 0 -23px
}

.grid .col {
    position:relative;
    float:left;
    padding:0 0 23px 23px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:width .3s ease-out;
    -moz-transition:width .3s ease-out;
    -ms-transition:width .3s ease-out;
    transition:width .3s ease-out
}

.list-item > li {
    position:relative;
    list-style-type:none
}

.list-item > li .magazine-single-card-container {
     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width:1095px) {
.grid .col.n-4 {
    width:33.33%
}
}

.col-3 .col:nth-of-type(3n+1) {
    clear:both
}

@media screen and (max-width:1096px) {
.grid .col.n-4 {
    width:50%
}

.col-3 .col:nth-of-type(3n+1) {
    clear:none
}

.col-3 .col:nth-of-type(2n+1) {
    clear:both
}
}

@media screen and (max-width:614px) {
.grid .col.n-4 {
    width:100%
}
}

/********************************  Products   *************************************/   
.button, .button-price {
    appearance:none;
    background-color:#2fdab8;
    border:none;
    border-radius:0;
    color:white;
    display:inline-block;
    font-size:20px;
    font-weight:500;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
/*     margin:0 8px 0 0; */
    padding:13px 20px 15px;
    position:relative;
    text-decoration:none;
    text-align:center;
    -webkit-transition-property:background-color, padding, font-size;
    transition-property:background-color, padding, font-size;
    -webkit-transition-duration:0.2s;
    transition-duration:0.2s;
    -webkit-transition-timing-function:ease-in-out;
    transition-timing-function:ease-in-out;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
    box-sizing:border-box;
}

.button {
    cursor:pointer;   
}


.button:hover{
    background-color:#39ac95
}

.button:focus{
    outline:4px solid #a5e5f3
}

@media only screen and (max-width: 540px){
    .button, .button-price{
        font-size:16px
    }

}

.card-price:focus{
    outline:none;
    box-shadow:none
}


.hover-container{
    height:100%;
    width:100%;
    position:absolute;
}

.hover-title{
    box-sizing:border-box;
    color:#FFF;
    font-size:25px;
    line-height:22px;
    font-weight:500;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    height:22px;
    overflow:hidden;
    pointer-events:none;
    text-align:center;
    width:100%;
    position:absolute;
    top:0%;
    left:0;
    right:0;
    padding:0 15%;
    opacity: 0;
    -webkit-transform:translate3d(0, 3px, 0);
    transform:translate3d(0, 3px, 0);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transition-property:-webkit-transform, opacity;
    transition-property:transform, opacity;
    -webkit-transition-duration:0.2s;
    transition-duration:0.2s;
    -webkit-transition-timing-function:ease-in-out;
    transition-timing-function:ease-in-out;
    
}


.hover-container:hover .hover-title{
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    opacity:1;
}


}

@media only screen and (max-device-width: 1024px){
    .hover-title{
        display:none !important
    }

}

.product-image{
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    bottom:0;
    font-size:0;
    left:0;
    position:absolute;
    right:0;
    top:0;
    -moz-transform:rotate(0.01deg)
}

.top-right{
    position:absolute;
    top:0;
    right:0
}

.top-left{
    position:absolute;
    top:0;
   left:0;
    z-index:100
}

span.card-price{
    font-size:20px;
    line-height:28px;
    margin:0;
    display:inline-block;
    white-space:nowrap;
    vertical-align:top;
    z-index:10;
    font-weight:500;
    -moz-osx-font-smoothing:initial;
    -webkit-font-smoothing:subpixel-antialiased;
    -webkit-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}




.magazine-single-card-container{
    -webkit-box-flex:1;
    -webkit-flex:1 1;
    -ms-flex:1 1;
    flex:1 1;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:column nowrap;
    -ms-flex-flow:column nowrap;
    flex-flow:column nowrap;
    position:relative
}

.card-cover {
    width:100%;
    height: 100%;
    background: none repeat scroll 0% 0% rgba(255, 91, 36, 0.9);
    color: #FFF;
    display: block;
    position: absolute;
    opacity: 0;
    z-index:200;
    overflow: hidden;
    -webkit-transform:translate3d(0, 400px, 0);
    transform:translate3d(0, 400px, 0);
    -webkit-backface-visibility:hidden;
     backface-visibility: hidden;
     -webkit-transition-property:opacity, transform;
    transition-property:opacity, transform;
    -webkit-transition-duration:0.2s;
    transition-duration:0.2s;
    -webkit-transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);   
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}


 .card-cover.card--active {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0px, 0);   
}
 
.card-cover > a {
    border: none;
    color: #FFF;
    background: none repeat scroll 0% 0% #226FBE;
    cursor: pointer;
    padding: 25px 30px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: medium none;
    position: relative;
}



.magazine-card{
    position:relative;
    -webkit-transition:height 0.2s ease-in-out;
    transition:height 0.2s ease-in-out;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    overflow:hidden
}


.medium .magazine-card{
    height:400px
}


.magazine-product-card{
    background:#FFF;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:column nowrap;
    -ms-flex-flow:column nowrap;
    flex-flow:column nowrap
}

.magazine-product-card .product-image{
    margin:52px 20%
}

@media only screen and (max-width: 540px){
    .magazine-product-card .product-image{
        margin:42px 10%
    }

}

.magazine-product-card .magazine-product-img-container{
    text-align:center;
    position:relative;
    -webkit-transition:height 0.2s ease-in-out;
    transition:height 0.2s ease-in-out;
    -webkit-box-flex:1;
    -webkit-flex:1 auto;
    -ms-flex:1 auto;
    flex:1 auto
}

.magazine-product-card:after{
    content:"";
    width:2px;
    height:100%;
    position:absolute;
    background-color:#f2f2f2;
    -webkit-transition-property:background-color, opacity;
    transition-property:background-color, opacity;
    -webkit-transition-duration:0.2s;
    transition-duration:0.2s;
    -webkit-transition-timing-function:ease-in-out;
    transition-timing-function:ease-in-out;
    top:0;
    right:0
}



.magazine-product-card:hover:after{
    opacity:0
}


.magazine-single-card-container:last-of-type .magazine-product-card:after{
    display:none
}




.card-name {   
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px; 
    line-height: 22px;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    background-color: #2FDAB8;
    border:none;
    border-radius: 0px;
    text-transform:uppercase;
    color: #FFF;
    /* cursor: pointer; */
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding: 13px 20px 15px;   
    box-sizing: border-box;
}

.card-view {
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    outline: 0;
    -webkit-transition:background .2s ease-in-out;
    -moz-transition:background .2s ease-in-out;
    -ms-transition:background .2s ease-in-out;
    -o-transition:background .2s ease-in-out;
    transition:background .2s ease-in-out;
}

.card-view:hover {
    background:rgba(0,0,0,0.3);
}


/********************************   Footer    *************************************/ 

#footer {
    background:#ecf0f1;
    padding: 78px 0px 72px;
    -webkit-flex-flow:row wrap;
    -moz-flex-flow:row wrap;
    -ms-flex-flow:row wrap;
    -o-flex-flow:row wrap;
    flex-flow:row wrap;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-o-flex;
    display:flex;
    font-weight:500;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased
}

#footer .wrapper {
    box-sizing:border-box;
    margin:0 auto;
    max-width:1203px;
    min-width:310px;
    padding:0 42px;
    position:relative;
    width:100%
}

@media only screen and (max-width: 540px) {
#footer {
    padding:50px 0 100px
}
}

#footer .footer-content-container {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-o-flex;
    display:flex;
    -webkit-flex-flow:row;
    -moz-flex-flow:row;
    -ms-flex-flow:row;
    -o-flex-flow:row;
    flex-flow:row
}

@media only screen and (max-width: 680px) {
#footer .footer-content-container {
    -webkit-flex-flow:column-reverse;
    -moz-flex-flow:column-reverse;
    -ms-flex-flow:column-reverse;
    -o-flex-flow:column-reverse;
    flex-flow:column-reverse
}
}

#footer .footer-proper {
    -webkit-flex:1 1 auto;
    -moz-flex:1 1 auto;
    -ms-flex:1 1 auto;
    -o-flex:1 1 auto;
    flex:1 1 auto;
    padding-right:48px
}

@media only screen and (max-width: 680px) {
#footer .footer-proper {
    padding-right:0
}
}

#footer .footer-tagline,.footer-tagline h1 {
    color:#000;
    font-size:18px;
    font-weight:400;
    -webkit-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -moz-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -ms-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -o-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -moz-osx-font-smoothing:initial;
    -webkit-font-smoothing:subpixel-antialiased
}

#footer .footer-tagline h1 {
    font-size:23px
}

#footer .footer-tagline span {
    color:red
}

@media only screen and (max-width: 540px) {
#footer h1.footer-tagline,.footer-tagline {
    font-size:16px
}
}

#footer .footer-primary-links {
    margin:20px 0;
    display:inline-block
}

@media only screen and (max-width: 985px) {
#footer .footer-primary-links a {
    display:block
}
}

@media only screen and (max-width: 540px) {
#footer .footer-primary-links a {
    display:block
}
}

#footer .footer-primary-links a {
    color:#000;
    font-size:18px;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    font-weight:400;
    -moz-osx-font-smoothing:initial;
    -webkit-font-smoothing:subpixel-antialiased;
    margin-right:20px;
    text-decoration:none;
    line-height:1.5
}

@media only screen and (max-width: 540px) {
#footer .footer-primary-links a {
    font-size:16px
}
}

#footer .footer-primary-links a:hover {
    color:red;
    background-size:2px 2px;
    background-image:-webkit-linear-gradient(to bottom,transparent 50%,#141414 50%);
    background-image:-moz-linear-gradient(to bottom,transparent 50%,#141414 50%);
    background-image:-ms-linear-gradient(to bottom,transparent 50%,#141414 50%);
    background-image:-o-linear-gradient(to bottom,transparent 50%,#141414 50%);
    background-image:linear-gradient(to bottom,transparent 50%,#141414 50%);
    background-repeat:repeat-x;
    background-position:center bottom
}

#footer .footer-primary-links a.active {
    font-weight:500;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased
}

#footer .footer-primary-links a.active:hover span {
    color:#333;
    cursor:default;
    background-image:none
}

#footer .footer-secondary-links {
    margin:20px 0
}

#footer .footer-secondary-links a {
    padding-right:20px
}

#footer .footer-small-text {
    color:#000;
    font-size:15px;
    font-weight:300;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased
}

#footer .footer-small-text p {
    margin:0;
    max-width:600px;
    font-weight:400
}

#footer .footer-small-text p.strong {
    color:#878787
}

#footer .footer-small-text a {
    color:#000;
    font-weight:400;
    -webkit-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    -ms-transition:color .2s ease-in-out;
    -o-transition:color .2s ease-in-out;
    transition:color .2s ease-in-out;
    text-decoration:none
}

#footer .footer-small-text a:hover {
    color:red
}

#footer .footer-social-links a {
    display:inline-block;
    width:32px;
    height:48px;
    font-size:0;
    vertical-align:bottom;
    background-repeat:no-repeat;
    background-position:center center;
    -webkit-transition:.2s all ease-in-out;
    -moz-transition:.2s all ease-in-out;
    -ms-transition:.2s all ease-in-out;
    -o-transition:.2s all ease-in-out;
    transition:.2s all ease-in-out;
    opacity:1
}

#footer .footer-social-links a:hover {
    opacity:.7
}

#footer .footer-social-links a.footer-facebook-link {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNpi%2FP%2F%2FP8NAAiaGAQajDhh1ANEOYGRkRMcCQDwfiM8D8X8gvg%2FE%2B0l1ACOx2RBkKRJQAOLzQCyArg5oHiM9oqAem%2BXkABYy9QWg8RcA8UNyDCI3CpA1XQBiQ6QooHsu%2BDBiyoH90KBHD2MHJPH%2FAx0CFwbaAR9omQ0XAvFBpHIABh5A5cgKAXC2IQaja0PC%2B8kxD4ZHa8NRB4w6YMAdwDjaMRl1wKgDBtoBAAEGAJwhbiKJBO64AAAAAElFTkSuQmCC);
    background-image:-webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNpi%2FP%2F%2FP8NAAiaGAQajDhh1ANEOYGRkRMcCQDwfiM8D8X8gvg%2FE%2B0l1ACOx2RBkKRJQAOLzQCyArg5oHiM9oqAem%2BXkABYy9QWg8RcA8UNyDCI3CpA1XQBiQ6QooHsu%2BDBiyoH90KBHD2MHJPH%2FAx0CFwbaAR9omQ0XAvFBpHIABh5A5cgKAXC2IQaja0PC%2B8kxD4ZHa8NRB4w6YMAdwDjaMRl1wKgDBtoBAAEGAJwhbiKJBO64AAAAAElFTkSuQmCC) 2x)
}

#footer .footer-social-links a.footer-twitter-link {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOVJREFUeNrsllENxCAMhtkpmAQkIOEkIGXn4BxMAhbOAZmCSdg5OAkcTbqELAFaRsJLm%2Fwv29L%2Fo6XNphCCGhkPNTgEQAAEYDiAgkWUE4appJijHKRCHVE2SuPzuehBANgxUS58Yn4VvLN3AdJk%2BmJuCuagH3zTowJpUpe05VkBMNU2EwCWgsFeAVA9AM5SBqY8BYAyhh%2B86dz49hpD3VgB26sFECsT4qAekroJN2YbXj034RkWT1Y7vWN5MADgLry55ncBLI7TTth4S1OViVOwZiA8Gs%2BtbZ7kt1wABEAARgP8BRgAhZ59yUn%2BLCgAAAAASUVORK5CYII%3D);
    background-image:-webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOVJREFUeNrsllENxCAMhtkpmAQkIOEkIGXn4BxMAhbOAZmCSdg5OAkcTbqELAFaRsJLm%2Fwv29L%2Fo6XNphCCGhkPNTgEQAAEYDiAgkWUE4appJijHKRCHVE2SuPzuehBANgxUS58Yn4VvLN3AdJk%2BmJuCuagH3zTowJpUpe05VkBMNU2EwCWgsFeAVA9AM5SBqY8BYAyhh%2B86dz49hpD3VgB26sFECsT4qAekroJN2YbXj034RkWT1Y7vWN5MADgLry55ncBLI7TTth4S1OViVOwZiA8Gs%2BtbZ7kt1wABEAARgP8BRgAhZ59yUn%2BLCgAAAAASUVORK5CYII%3D) 2x)
}

#footer .footer-social-links a.footer-pinterest-link {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWxJREFUeNrsVottAyEMvYsyACNcN2CEjHCdoIyQEdjgRrh2gnaDdIN0A7pBsgEF6SE5lgn0Po0qHdITFwfsh21sdt775pHYNQ8eG4GNwD73R9u2NfsPmD9LC2PGL%2BEBFWADXNQZcAI8ZBZr6kfufgrDBFxg7B4uWFtnp5LAWGGYY1yKgBGUnyCPOdBhHgQPmRKBNpccSEKF2Ka4XgOekXQGxpP8Fd%2BRnCbypzjn7JQ8YNmJNOAysdeEdJLbOSGgigbIziTrz4zEuxA2N4cAP31PlCpGKKFBaG5kU7rhgf3%2BIrH9QHybzL3%2FLuiaVIiUYLQjiUgN6yV6AS%2BvPTl5R2TSHl3QVe0B6soBiq8Ih%2BT%2BN8wvd8Ix6xom9OSkDkhF58jWzrqGKlP%2FFYwfhUbFa4NauhQ75h2H6icRNWs0o5GU3D9pRrwdW6HQrN6OaZw1boQXQpN9kEzthqs%2Fyfa%2F3VBbYLZn%2BUbg3xD4EWAAA4bJ5h1bcbEAAAAASUVORK5CYII%3D);
    background-image:-webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWxJREFUeNrsVottAyEMvYsyACNcN2CEjHCdoIyQEdjgRrh2gnaDdIN0A7pBsgEF6SE5lgn0Po0qHdITFwfsh21sdt775pHYNQ8eG4GNwD73R9u2NfsPmD9LC2PGL%2BEBFWADXNQZcAI8ZBZr6kfufgrDBFxg7B4uWFtnp5LAWGGYY1yKgBGUnyCPOdBhHgQPmRKBNpccSEKF2Ka4XgOekXQGxpP8Fd%2BRnCbypzjn7JQ8YNmJNOAysdeEdJLbOSGgigbIziTrz4zEuxA2N4cAP31PlCpGKKFBaG5kU7rhgf3%2BIrH9QHybzL3%2FLuiaVIiUYLQjiUgN6yV6AS%2BvPTl5R2TSHl3QVe0B6soBiq8Ih%2BT%2BN8wvd8Ix6xom9OSkDkhF58jWzrqGKlP%2FFYwfhUbFa4NauhQ75h2H6icRNWs0o5GU3D9pRrwdW6HQrN6OaZw1boQXQpN9kEzthqs%2Fyfa%2F3VBbYLZn%2BUbg3xD4EWAAA4bJ5h1bcbEAAAAASUVORK5CYII%3D) 2x)
}

#footer .footer-newsletter-sign-up {
    -webkit-flex:0 1 600px;
    -moz-flex:0 1 600px;
    -ms-flex:0 1 600px;
    -o-flex:0 1 600px;
    flex:0 1 600px;
    border-left:2px solid #000;
    padding-left:48px
}

@media only screen and (max-width: 680px) {
#footer .footer-newsletter-sign-up {
    -webkit-flex:1 1;
    -moz-flex:1 1;
    -ms-flex:1 1;
    -o-flex:1 1;
    flex:1 1;
    padding-left:0;
    padding-bottom:48px;
/*padding-bottom: 10px;*/
    border-left:none;
    border-bottom:2px solid #000;
    margin-bottom:48px
}
}

#footer .footer-newsletter-description {
    color:#3770a7;
    font-size:18px;
    -webkit-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -moz-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -ms-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -o-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    transition:color .2s ease-in-out,font-size .2s ease-in-out;
    font-weight:300;
    -moz-osx-font-smoothing:initial;
    -webkit-font-smoothing:subpixel-antialiased;
    margin-bottom:24px
}

@media only screen and (max-width: 540px) {
#footer .footer-newsletter-description {
    font-size:16px
}
}

#footer .btn-main {
    z-index:1
}

#footer .btn-main:after {
    content:'';
    position:absolute;
    z-index:-1;
    width:0;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,1);
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s ease
}

#footer .btn-main:hover,#footer .btn-main:active {
    color:#fff
}

#footer button.btn-main:hover::after,#footer button.btn-main:active::after {
    width:100%
}

@media only screen and (max-width: 746px) {
#footer .btn-main {
    padding:25px 40px
}
}

@media only screen and (max-width: 681px) {
#footer .btn-main {
    margin:0 auto;
    left:0;
    right:0
}
}


/***********************************************************************************************************************************************************/
/********************************                                   Dashboard                                      ****************************************/
/*****************************************************************************************************************************************************/



.mt {
    margin-top: 25px;
}

/*sidebar navigation*/

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #424a5d;
}


#sidebar ul li {
    position: relative;
    list-style-type: none;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}


ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
    color: white;
    background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #68dff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #68dff0;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}


/* MAIN CONTENT CONFIGURATION */
#main-content {
    margin-left: 210px;
}


.wrapper {
    display: inline-block;
    margin-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

@media (max-width: 768px) {

   
    /*sidebar*/

    #sidebar {
        height: auto;
        overflow: hidden;
        position:relative;
        width: 100%;
        top:0; 
        height:250px;
        z-index: 1001;
        overflow-y:scroll;
    }


    /* body container */
    #main-content {
        margin: 0px!important;
        position: none !important;
    }
    
    .wrapper {
        margin-top:10px
    }

    #sidebar > ul > li > a > span {
        line-height: 35px;
    }

    #sidebar > ul > li {
        margin: 0 10px 5px 10px;
    }
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }
  
    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }
   
  
    ul.sidebar-menu li ul.sub li a {
        padding: 0;
    }
 
}


























