{% load i18n %}

{% load staticfiles %}
    <footer id="footer">
        <div class='wrapper'>
            <div class="footer-content-container">
                <div class='footer-proper'>
                    <h1 class='footer-tagline'>Discover. Be Inspired. <span>Get Scrapping.</span></h1>

                    <div class='footer-primary-links'>
                        <a class="" href="#"><span>About us</span></a>
                        <a class="" href="#"><span>How we scrap</span></a> 
                        <a class="" href="#"><span></span></a> 
                    </div>

                    <div class='footer-small-text'>
                        <p>{% trans "&copy;2014 Indie-Scrap. Scrapping in NYC with love." %}</p>
                    </div>

                    <div class='footer-small-text footer-secondary-links'>
                        <a class="deemphasized" href="#">Terms & Conditions</a> 
                        <a class="deemphasized" href="#">Privacy</a> 
                        <a class="deemphasized" href="mailto:">Contact Us</a>
                    </div>

                    <div class='footer-social-links'>
                        <a class="footer-facebook-link" href="#" target="_blank">Facebook</a> 
                        <a class="footer-twitter-link" href="#" target="_blank">Twitter</a>
                        <a class="footer-pinterest-link" href="#" target="_blank">Pinterest</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>