{% extends "site_base.html" %}
{% load url from future %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}homepage{% endblock %}


{% block banner %}
<section class="homepage-image">
    <div class="home">
        <div class="home-image-wrapper">
            <div class="slide">
                <div class="slide-text">
                    <h3><span>The Best Independent Websites</span></h3>
                    <span class="slide-subtext">Underground shopping just got easier</span>
                </div>
            </div>
        </div>
        <a id="navDown" class="browse-next" href="#"></a>
    </div>
</section>
{% endblock %}


{% block specific_sitefilter_id %}home-specific-site-filter{% endblock %}
{% block global_specific_sitefilter %}
<div class="nav-sidebar" id="nav-filters">
    <div class="wrapper-nav">
        <h3 class="results-head"><strong>6</strong> Available Sites For Search</h3>
        <p class="results">Filter Sites By:</p>
        <div class="wrapper-dropdown" id="global-site-letter">
            <span>Letter</span>
            <ul id="letter">
                
            </ul>
        </div>
        <div class="wrapper-dropdown" id="global-site-trending">
            <span>Trending</span>
            <ul id="trending">
               
            </ul>
        </div>

        <div class="wrapper-dropdown" id="global-site-sex">
            <span>Sex</span>
            <ul id="sex">
               
            </ul>
        </div>

        <ul class="list-tags">
        <!--@TODO Create cancelable elements after selections above from either drop downs -->
            <li class="close style2"><a href="">A</a></li>
            <li class="close style2"><a href="">B</a></li>

        </ul>
    </div>
</div>   
{% endblock  %}

{% block global_sitefilter %}
    <section id="home-site-filter"> 
        <div class='search-wrapper '>
            <div class='search-input-container'>
                <div class='search-input-tablet-and-desktop'>
                    <label class='search-label' for='search-input'></label>
                    <input class='search-input' id='search-input' placeholder='Search Name Of Sites' spellcheck='false' type='text' />
                </div>
            </div>
        </div>
    </section>  
{% endblock %} 


{% if home %}
    {% block body %}
    <section id="st-accordion" class="home_content">
        <ul id="search-results"  class="home_tiles">
            {% block homepage_websites %}{% include "_homepage_ajaxall.html" %} {% endblock %}
        </ul>

    </ul>
    </section>
    {% endblock %}


    {% if is_paginated %}
        {% block pagination %}
            <div class='magazine-pagination'>
                {% if page_obj.has_previous %}
                <a class="pagination-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                 {% endif %}
                
                <div class='pagination-link active'>{{ page_obj.number }}</div>

                {% if page_obj.has_next %}
                <a class="pagination-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                <div class='pagination-text'>...</div>
                <a class="pagination-link page-next" href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}   
             </div>
        {% endblock %}
    {% endif %}

{% else %}
    <p>No sites found!!</p>
{% endif %}

{% block footer %}{% endblock %}

{% block scrollTop %}
 <a href="javascript:void(0)" id="scrollTop">Scroll</a>
{% endblock %}



