{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}  
    <!-- Images must be within the range of 430px width to 500px width * -->
    <li class="col n-4">
        <figure class="rollover site">
            <img  src="/site_media/static/images/test12.jpg"  />
            <div class="scrap-designer">Katy Ray</div>
            <div class="scrap-title">Snood, <span class="scrap-price">$455</span></div>
            <a class="scrap-buy" href="#">Buy</a>
            <figcaption class="scrap-from"> Scrapped from:<a class="scrap-site" href="#"></a></figcaption>
        </figure>
    </li>  
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img  src="/site_media/static/images/test6.jpg"  />
            </a>
        </figure>
    </li>   
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img   src="/site_media/static/images/test7.jpg"  />
            </a>
        </figure>
    </li>               
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img  height="" src="/site_media/static/images/test10.jpg"  />
            </a>
        </figure>
    </li>   
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img  height="" src="/site_media/static/images/test7.jpg"  />
            </a>
        </figure>
    </li>   
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img  src="/site_media/static/images/test6.jpg"  />
            </a>
        </figure>
    </li>   
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img  src="/site_media/static/images/test12.jpg"  />
            </a>
        </figure>
    </li>   
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img  src="/site_media/static/images/test7.jpg"  />
            </a>
        </figure>
    </li>   
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img   src="/site_media/static/images/test6.jpg"  />
            </a>
        </figure>
    </li>   
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img   src="/site_media/static/images/test10.jpg"  />
            </a>
        </figure>
    </li>   
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img   src="/site_media/static/images/test12.jpg"  />
            </a>
        </figure>
    </li>   
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img   src="/site_media/static/images/test7.jpg"  />
            </a>
        </figure>
    </li>   
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img   src="/site_media/static/images/test10.jpg"  />
            </a>
        </figure>
    </li>   
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img   src="/site_media/static/images/test7.jpg"  />
            </a>
        </figure>
    </li>   
    <li class="col n-4">
        <figure class="rollover site">
            <a href="#">
                <img  src="/site_media/static/images/test7.jpg"  />
            </a>
        </figure>
    </li>
{% endblock %}