{% extends "theme_base.html" %}

{% load staticfiles %}
{% load metron_tags %}

{% load i18n %}
    
    {% block style_base %}
        <!-- Stylesheets for Indie-Scrap -->
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <link rel="stylesheet" href="{% static "css/site.css" %}" />
        <link rel="stylesheet" href="{% static "css/fonts.css" %}" />
        <link rel="stylesheet" href="{% static "css/form.css" %}" />
        <link rel="stylesheet" href="{% static "css/flickerplate.css" %}">
        
    {% block extra_style %}{% endblock %}
    {% endblock %}

    {% block top_script_base %}
        {% block top_script %}
            <script src="{% static "js/lib/modernizr.custom.32600.js" %}"></script>
        {% endblock %}
    {% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
<!-- Start footer -->
    {% include "_footer.html" %}
<!-- End footer -->
{% endblock %}

{% block script_base %}
    
    <!--Library Script-->
    <script src="{% static "js/lib/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/lib/bootstrap.min.js" %}"></script>
    <script src="{% static "js/lib/underscore-min.js" %}"></script>
    <script src="{% static "js/lib/backbone-min.js" %}"></script>
    <script src="{% static "js/lib/backbone-tastypie.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    <script src="{% static "js/lib/classie.js" %}"></script>
    <script src="{% static "js/lib/flickerplate.js" %}"></script>
    <script src="{% static "js/lib/hammer-v2.0.3.min.js" %}"></script>

    <!-- backbone code -->
    <script src="{% static "backboneapp/backboneApp.js" %}"></script>

    <!--Application Script -->
    <script src="{% static "js/site.js" %}"></script>


  
    <script type="text/javascript" src="//use.typekit.net/uee5rje.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% block extra_script %}
        {% analytics %}
    {% endblock %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
