/**
 * Indie-Scrap CSS Main File 
 * 2014 @author: Amechi Egbe
 * Custom CSS, which some styles may overwrite the base.css
 *
 **/

/********************************  Container  *************************************/   
html,
body,
.st-container,
.st-pusher,
.st-content {
    height: 100%;
}

.st-content {
    background:#fff;
    overflow-y: scroll;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    z-index: 9999;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

/********************************  Header  *************************************/   


/* Buttons */
.btn {
    font-family:FuturaStd-Bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    font-weight:400;
    font-style:normal;
    letter-spacing:.125em;
    font-size:9px;
    text-transform:uppercase;
    border:none;
    line-height:16px;
    height:48px;
    padding:16px;
    position:relative
}

.btn:active,.btn.active {
    -webkit-box-shadow:none;
    box-shadow:none
}

.btn:focus {
    outline:0
}

@media (min-width:768px) {
    .btn {
        font-size:10px
    }
}


.btn-navbar{
    width:64px;
    height:64px;
    background:#fff;
    border-radius:0;
    color:#bfbfbf;
    padding:0
}




.btn-navbar .icon-main{
    width:16px;
    height:16px;
    position:relative;
    vertical-align:middle
}


.btn-navbar .icon-main {
    display:inline-block;
    position:relative
}


/* Navigation header  */
.navbar-left,.navbar-left .btn-navbar {
    float:left
}

.navbar-right,.navbar-right .btn-navbar {
    float:right
}


.navbar {
    border:none;
    background: #FFF;
    height:64px;
    min-height:0;
    z-index:1040;
    text-align:center;
    position:fixed;
    
    top:0;
    right:0;
    left:0
}


.navbar-left,.navbar-right {
    position:relative
}


/* Logo  */
#navbar_logo_wrapper {
    height:64px;
    overflow:hidden;
    margin:0 auto;
    position:absolute;
    top:0;
    left:0;
    width:100%
}

#navbar_logo {
    opacity:.95;
    filter:alpha(opacity=95);
    background-image:url('');
    background-size:72px 16px;
    display:block;
    height:16px;
    margin:16px auto;
    width:72px;
    position:relative
}

@media (min-width:768px) {
    #navbar_logo {
        background-size:97px 22px;
        background-image:url('');
        background-repeat:no-repeat;
        background-position:center;
        margin-bottom:21px;
        margin-top:21px;
        height:22px;
        width:98px
    }
}



/********************************  Right Side Navigation  *************************************/  

.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 300px;
    height: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}


.st-effect-2.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.st-effect-2.st-menu {
    z-index: 1;
}

.st-effect-2.st-menu-open .st-effect-2.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-effect-2.st-menu::after {
    display: none;
}


.nav_content {
    position:relative;
    height:100%;
    text-align:center;
    letter-spacing:.075em
}


.nav_content .nav_pages {
    position:relative;
    left:0;
    top:5%;
    width:100%;
    font-size:12px;
    font-weight:700
}

.nav_content .nav_pages li {
    margin-bottom:8px;
    list-style:none;
}

.nav_content .nav_pages li a {
    display:-moz-inline-stack;
    display:inline-block;
    vertical-align:middle;
    *vertical-align:auto;
    outline: none;
    zoom:1;
    *display:inline;
    padding:10px 0;
    text-decoration:none
}

.nav_content .nav_pages li a span {
    display:-moz-inline-stack;
    display:inline-block;
    vertical-align:middle;
    *vertical-align:auto;
    zoom:1;
    *display:inline;
    padding:0 15px;
    color:#000;
    z-index:2;
    -webkit-transition:color .3s;
    -moz-transition:color .3s;
    -o-transition:color .3s;
    transition:color .3s
}

.nav_content .nav_pages li a span:hover {
    color:red
}

.nav_content .nav_social {
    position:absolute;
    left:0;
    bottom:120px;
    width:100%;
    text-align:center;
    font-size:0
}

.nav_content .nav_social li,
.nav_content .nav_social a {
    position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    vertical-align:middle;
    *vertical-align:auto;
    zoom:1;
    *display:inline;
    width:31px;
    height:17px;
    font-size:10px;
    letter-spacing:.075em;
    text-decoration:none;
}


.nav_content .nav_copyright {
    position:absolute;
    left:0;
    bottom:80px;
    width:100%;
    font-size:10px;
    font-weight:700;
    color:#111;
    letter-spacing:.075em
}



/******************************** Left Side site Filter  *************************************/  


.st-menu-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    visibility: hidden;
    width: 300px;
    height: 100%;
    background: #FFF;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.st-menu-2::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu-open .st-menu-2::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}


.st-effect-3.st-menu-open .st-pusher {
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
}

.st-effect-3.st-menu-2 {
    z-index: 1;
}

.st-effect-3.st-menu-open .st-effect-3.st-menu-2 {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-effect-3.st-menu-2::after {
    display: none;
}


/********************************  Homepage  *************************************/  

.homepage-image > div {
    background:#fff;
}

.homepage-image .home {
    position:relative;
    width:100%;
    height: 610px;
    top:0;
    left:0;  
}

.slide, .home-image-wrapper {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%
}

.slide {
    background-size:cover;
    background-position:center 50%;
    background-image: url('../images/girl-standing.jpg');
    display:none;
    text-align:center
}

.slide:first-child {
    display:block
}

.slide-text {
    position:absolute;
    left:0;
    top:40%;
    margin-top:-94px;
    text-align:center;
    width:100%;
    color:#fff
}

.slide-text h3 {
    font-size:73px;
    line-height:1;
    margin-bottom:11px;
    position:relative
}

.slide-subtext:after,.slide-text h3 span:after {
    position:absolute;
    content:"";
    border-bottom:1px solid #fff;
    width:344px;
    bottom:0;
    left:50%;
    margin-left:-172px
}

.slide-subtext {
    padding-bottom:11px;
    max-width:70%;
    display:block;
    font-size:19px;
    font-weight:200;
    margin:0 auto 24px;
    position:relative
}


.browse-next {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background: url("../images/down-x2.png") no-repeat center center;
    cursor: pointer;
    border-radius: 50%;
    background-size: 100% auto;
    z-index: 4;
}


.browse-next {
  animation-name: animmove;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: none;
  -webkit-animation-name: animmove;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: none;
}

.browse-next:hover {
    background-color: #808080;
    background-color: rgba(128,128,128,0.5);
}

@keyframes animmove {
  0% {transform: translateY(-1px);}
  50% {transform: translateY(1px);}
  100% {transform: translateY(-1px);}
}

@-webkit-keyframes animmove {
  0% {-webkit-transform: translateY(-1px);}
  50% {-webkit-transform: translateY(1px);}
  100% {-webkit-transform: translateY(-1px);}
}

@media (max-width:767px) {

    .homepage-image {
        padding-top:54px
    }
    
    .browse-next {
        bottom:70px
    }
}

@media (max-width:479px) {
    .slide-text h3 {
        font-size:48px
    }

    .slide-subtext {
        font-size:16px;
        max-width:81%
    }

    .slide-subtext:after, .slide-text h3 span:after {
        width:260px;
        margin-left:-130px
    }
}


/*  Main Content  */
.home_content {
    -webkit-transform-style:preserve-3d;
    -webkit-backface-visibility:hidden
}


.home_content {
    font-size:0;
    overflow:hidden;
    width:100%;
    max-width:1400px;
    position:relative;
    display:inline-block;
    vertical-align:top
}

@media (min-width: 610px) {
    .home_content {
        width:-webkit-calc(100%);
        width: calc(100%);
    }

}

ul.home_tiles {
    font-size:0;
    margin: 0;
}

ul.home_tiles > li {
    font-size:18px;
    font-size:1.8rem;
    background:#fff;  
    border-top:#000 solid 1px; 
}

li.page_tiles-home {
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-smoothing:antialiased
}

li.page_tiles-home {
    width:100%;
    height:100px;
    overflow:hidden;
    position:relative;
    display:inline-block;
    vertical-align:top;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}


li.page_tiles-home {
    text-align:center
}

li.page_tiles-home h2.page_tiles-home_heading {
    width:100%;
    height:100%;
    font-size:28px;
    font-size:2.8rem;
    line-height:1.25em;
    font-weight:300;
    text-align:center;
    margin:0;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    display:table;
     

}
li.page_tiles-home h2.page_tiles-home_heading a {
    text-decoration:none;
    color:#030101;
    padding:0 10px;
    display:table-cell;
    vertical-align:middle;
    transition:all 0.5s cubic-bezier(.99,.04,.11,.16);
}

li.page_tiles-home:hover h2.page_tiles-home_heading a {
    background:#000;
    color:#fff;
}



/********************************   Paginate   *************************************/  
.paginate {
    position:relative;
    bottom:0px;
    clear:both;
    height:66px;
    text-align:center;
    background-color: rgb(236, 240, 241);
    overflow:hidden;
}
.paginate span, .paginate a, .bt-pag {
    display:inline-block;
    height:66px;
    min-width:26px;
    line-height:67px;
    text-align:center;
    font-family:'MuseoSans_Thin';
    font-size:20px;
    color:#313131;
    -webkit-transition:all .25s ease-out;
    -moz-transition:all .25s ease-out;
    -ms-transition:all .25s ease-out;
    transition:all .25s ease-out
}
.paginate a:hover{
    font-family:'MuseoSans_xFat'
}






    

/***********************************************************************************************************************************************************/
/********************************                                   Product Menu                               ****************************************/
/*****************************************************************************************************************************************************/
.product-menu {
    position:fixed;
    float:left;
    bottom:0;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    height:50px;
    min-height:50px;
    z-index: 10001;
    transition:background 0.4s ease;
}

.product-menu .product-wrapper {
box-sizing:border-box;
    margin:0 auto;
    max-width:1203px;
    min-width:310px;
    padding:0 12px;
    width:100%;
    height:100%  
} 

.product-menu .menu-left {
    float: left;
}

.product-menu .menu-right {
    float:right;
}


.product-menu .menu-sort {
position: relative;
display: inline-block;
vertical-align: top;
height: 40px;
width: 190px;
text-align: left;
color: #FFF;
text-transform: uppercase;
text-decoration: none;
background: none repeat scroll 0% 0% rgb(18,194,134);
margin: 4px 0px 0px;
}

.product-menu ul.category {
    margin:0;
    padding:0;
}

.product-menu ul.category li {
    position: relative;
    display:inline-block;
    height:50px;
    width:50px;
    cursor: pointer;
     -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
    background: url('//cdn.shopify.com/s/files/1/0561/7509/t/2/assets/filter-open.png?16811') no-repeat scroll center center;
}


.product-menu ul.category li:hover,
.product-menu ul.category li:active {
  background: url('//cdn.shopify.com/s/files/1/0561/7509/t/2/assets/filter-open.png?16811') no-repeat scroll center center red;
}

/* For menu activation */
.product-menu ul.category li.active {
    background: url('//cdn.shopify.com/s/files/1/0561/7509/t/2/assets/filter-close.png?16811') no-repeat scroll center center red;
}


/*  Menu filter   */
.product-navigation-filter {
    background:rgba(0,0,0,0.9);
    position: fixed;
    height: 400px;
    z-index: 1000;
    width:100%;
    display: block;
    overflow-y: auto;
    transition: all 0.3s ease 0s;
}

.product-navigation-filter-bottom {
    bottom:-500px;
}

/* menu open */
.product-navigation-filter-bottom.product-filter-open {
    bottom: 40px;
       
}

.product-menu.product-filter-background {
    background:rgba(0,0,0,1);
}

.product-navigation-filter .filter-options {
    display: block;
    padding: 30px 40px 0;
}

.product-navigation-filter .filter-section {
    display: block;
    width: 100%;
    float:left;
}

.product-navigation-filter .filter-label-sub {
 font-size: 1.5em; 
 color:#ECF0F1;
}

.product-navigation-filter .filter-section-men,
.product-navigation-filter .filter-section-women,
.product-navigation-filter .filter-section-price,
.product-navigation-filter .filter-section-other{
    float:left; 
    width:30%; 
}

.product-navigation-filter .filter-section-other {
    margin-top:20px
}

.product-navigation-filter .filter-clear {
  float: left;
  width:100%;
   height: 100%;
  position: relative;
  top:30px;
   
}


.product-navigation-filter  .product-button-clear {
    background-color: #ECF0F1;
    color: #000;
    padding: 20px 35px;
    border: medium none;
    padding:15px 60px;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s; 
    text-decoration: none;
    text-transform: uppercase;
}

.product-navigation-filter .product-button-clear:hover {
    background:red;
    color:white;
}


.product-navigation-filter ul {
    margin: 0;
    padding: 0;
}

.product-navigation-filter ul li.product-options {
    display: block;
    list-style: none outside none;
    cursor: pointer;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 1px;
} 

.product-navigation-filter li.product-options {
    display: block;
    margin: 0 0 4px
}

.product-navigation-filter .filter-section ul li.product-options span {
 display: inline-block;
    float: left;
    width: 15px;
    height: 14px;
    border: solid 3px red;
    margin: 0 12px 0px 0;
    background: transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;   
}


.product-navigation-filter .filter-section ul li.product-options:hover span{
   border: solid 3px #fff;  
}



@media screen and (max-width:760px) {
    .product-navigation-filter .filter-section-price,
    .product-navigation-filter .filter-section-men,
    .product-navigation-filter .filter-section-women,
    .product-navigation-filter .filter-section-other{
       float:none;
       width:100%;
    }   

    .product-navigation-filter .filter-section-men,
    .product-navigation-filter .filter-section-women{
       margin-bottom:20px;
    }
    
    .product-navigation-filter .filter-clear {
        margin-bottom: 70px;
    }

}


/********************************  Product Grid    *************************************/   


#content {
    -webkit-transition:padding .25s ease-out;
    -moz-transition:padding .25s ease-out;
    -o-transition:padding .25s ease-out;
    transition:padding .25s ease-out;
    box-sizing:border-box;
    margin:0 auto;
    max-width:1203px;
    min-width:310px;
/*padding: 0px 42px;*/
    position:relative;
    width:100%
}

#content:after {
    content:'';
    display:block;
    clear:both
}

.block {
    position:relative;
    padding:0 0 50px
}

.block:after {
    content:'';
    display:block;
    clear:both
}

.block:first-child {
    padding-top:27px
}

.block.last {
    padding-bottom:0
}

.block:last-child {
    margin-bottom:0;
    border-bottom:0
}

.grid {
    clear:both;
    margin:0 23px 0 0
}

.grid:after {
    content:'';
    display:block;
    clear:both
}

.inner .grid {
    margin:0 0 0 -23px
}

.grid .col {
    position:relative;
    float:left;
    padding:0 0 23px 23px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:width .3s ease-out;
    -moz-transition:width .3s ease-out;
    -ms-transition:width .3s ease-out;
    transition:width .3s ease-out
}

.list-item > li {
    position:relative;
    list-style-type:none
}

.list-item >li figure {
    background:#ecf0f1;
    padding:5px
}

@media screen and (min-width:1095px) {
.grid .col.n-4 {
    width:33.33%
}
}

.col-3 .col:nth-of-type(3n+1) {
    clear:both
}

@media screen and (max-width:1096px) {
.grid .col.n-4 {
    width:50%
}

.col-3 .col:nth-of-type(3n+1) {
    clear:none
}

.col-3 .col:nth-of-type(2n+1) {
    clear:both
}
}

@media screen and (max-width:614px) {
.grid .col.n-4 {
    width:100%
}
}

/********************************  Product Images  *************************************/ 
figure.rollover {
    position:relative;
    overflow-x:hidden;
    -webkit-transition:all .25s ease-out;
    -moz-transition:all .25s ease-out;
    -o-transition:all .25s ease-out;
    transition:all .25s ease-out
}

figure.rollover img {
    float:left;
    width:100%;
    max-width:100%;
    height:auto;
    -webkit-transition:all .25s linear;
    -moz-transition:all .25s linear;
    -o-transition:all .25s linear;
    transition:all .25s linear;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    transform:translateZ(0)
}

figure.rollover:after {
    content:'';
    display:block;
    clear:both
}

figure.rollover:hover img {
    opacity:.1
}

.rollover.site .scrap-likes, .rollover.site .scrap-from, .rollover.site .scrap-designer,.rollover.site .scrap-title,.rollover.site .scrap-buy {
    position:absolute;
    font-size:2em;
    letter-spacing:1px;
    display:block;
    margin:0 auto;
    text-align:center;
    color:#000;
    left:0;
    right:0;
    transition:all .7s ease-in
}


.rollover.site .scrap-designer, .rollover.site .scrap-from, .rollover.site .scrap-title,.rollover.site .scrap-buy,.rollover.site .scrap-from {
    font-family:"ff-tisa-sans-web-pro";
    visibility:hidden;
    opacity:0;
    transition:all .45s ease-in-out
}

.rollover.site .scrap-likes {
    visibility:hidden;
    opacity:0;
    transition:all .45s ease-in-out
}

.rollover.site:hover .scrap-likes,.rollover.site:hover .scrap-from, .rollover.site:hover .scrap-designer,.rollover.site:hover .scrap-title,.rollover.site:hover .scrap-buy,.rollover.site:hover .scrap-from {
    opacity:1;
    visibility:visible;
    color:#000
}

.rollover.site .scrap-likes,.rollover.site .scrap-from,  .rollover.site .scrap-designer,.rollover.site .scrap-title,.rollover.site .scrap-buy {
    -webkit-animation-duration:.7s;
    -ms-animation-duration:.7s;
    animation-duration:.7s;
    -webkit-animation-iteration-count:1;
    -ms-animation-iteration-count:1;
    animation-iteration-count:1
}

/* Individual styles */

.rollover.site .scrap-from {
    font-size:1.5em;
    top:5px
}

.rollover.site .scrap-site {
    text-decoration:none;
    color:#3770A7;
    transition:all .45s ease-in-out
}

.rollover.site .scrap-site:hover {
    color:red
}

.rollover.site:hover .scrap-from {
    -webkit-animation-name:from-move-down;
    -ms-animation-name:from-move-down;
    animation-name:from-move-down
}

@keyframes from-move-down {
0% {
    -webkit-transform:translateY(-90px);
    -ms-transform:translateY(-90px);
    transform:translateY(-90px)
}

100% {
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
}

@-webkit-keyframes from-move-down {
0% {
    -webkit-transform:translateY(-90px);
    -ms-transform:translateY(-90px);
    transform:translateY(-90px)
}

100% {
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
}

@-ms-keyframes from-move-down {
0% {
    -webkit-transform:translateY(-90px);
    -ms-transform:translateY(-90px);
    transform:translateY(-90px)
}

100% {
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
}



.rollover.site .scrap-likes {
    top:30%;
    z-index:100;
    width:7%;
}

.rollover.site .scrap-likes span.icon-heart:before {
    content:"\f004";
    position:absolute;
    left:0%;
    right:0%;
    cursor:pointer;
    color:#000;
    text-decoration:none;
    transition:all .45s ease-in-out
}

.rollover.site .scrap-likes span.icon-heart:hover:before {
    color:red;
}

.rollover.site:hover .scrap-likes {
    -webkit-animation-name:likes-move-down;
    -ms-animation-name:likes-move-down;
    animation-name:likes-move-down
}

@keyframes likes-move-down {
0% {
    -webkit-transform:translateY(-90px);
    -ms-transform:translateY(-90px);
    transform:translateY(-90px)
}

100% {
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
}

@-webkit-keyframes likes-move-down {
0% {
    -webkit-transform:translateY(-90px);
    -ms-transform:translateY(-90px);
    transform:translateY(-90px)
}

100% {
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
}

@-ms-keyframes likes-move-down {
0% {
    -webkit-transform:translateY(-90px);
    -ms-transform:translateY(-90px);
    transform:translateY(-90px)
}

100% {
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
}

.rollover.site .scrap-designer {
    top:37%
}

.rollover.site:hover .scrap-designer {
    -webkit-animation-name:designer-move-left;
    -ms-animation-name:designer-move-left;
    animation-name:designer-move-left
}

@keyframes designer-move-left {
0% {
    -webkit-transform:translateX(-90px);
    -ms-transform:translateX(-90px);
    transform:translateX(-90px)
}

100% {
    -webkit-transform:translateX(0px);
    -ms-transform:translateX(0px);
    transform:translateX(0px)
}
}

@-webkit-keyframes designer-move-left {
0% {
    -webkit-transform:translateX(-90px);
    -ms-transform:translateX(-90px);
    transform:translateX(-90px)
}

100% {
    -webkit-transform:translateX(0px);
    -ms-transform:translateX(0px);
    transform:translateX(0px)
}
}

@-ms-keyframes designer-move-left {
0% {
    -webkit-transform:translateX(-90px);
    -ms-transform:translateX(-90px);
    transform:translateX(-90px)
}

100% {
    -webkit-transform:translateX(0px);
    -ms-transform:translateX(0px);
    transform:translateX(0px)
}
}

.rollover.site .scrap-title {
    top:45%
}

.rollover.site .scrap-price {
    color:red;
}

.rollover.site:hover .scrap-title {
    -webkit-animation-name:title-move-right;
    -ms-animation-name:title-move-right;
    animation-name:title-move-right
}

@keyframes title-move-right {
0% {
    -webkit-transform:translateX(90px);
    -ms-transform:translateX(90px);
    transform:translateX(90px)
}

100% {
    -webkit-transform:translateX(0px);
    -ms-transform:translateX(0px);
    transform:translateX(0px)
}
}

@-webkit-keyframes title-move-right {
0% {
    -webkit-transform:translateX(90px);
    -ms-transform:translateX(90px);
    transform:translateX(90px)
}

100% {
    -webkit-transform:translateX(0px);
    -ms-transform:translateX(0px);
    transform:translateX(0px)
}
}

@-ms-keyframes title-move-right {
0% {
    -webkit-transform:translateX(90px);
    -ms-transform:translateX(90px);
    transform:translateX(90px)
}

100% {
    -webkit-transform:translateX(0px);
    -ms-transform:translateX(0px);
    transform:translateX(0px)
}
}

.rollover.site .scrap-buy {
    top:60%;
    padding:9px 10px;
    cursor:pointer;
    text-decoration:none;
    text-transform:uppercase;
    width:40%;
    z-index:999;
    transition:all .45s ease-in-out
}

.rollover.site:hover a.scrap-buy {
    color:#fff;
    background:#000;
    border-radius:50% 50%/ 30% 30%;
    -webkit-animation-name:buy-move-up;
    -ms-animation-name:buy-move-up;
    animation-name:buy-move-up
}

.rollover.site a.scrap-buy:hover {
    background:#fff;
    color:#000
}

@keyframes buy-move-up {
0% {
    -webkit-transform:translateY(80px);
    -ms-transform:translateY(80px);
    transform:translateY(80px)
}

100% {
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
}

@-webkit-keyframes buy-move-up {
0% {
    -webkit-transform:translateY(80px);
    -ms-transform:translateY(80px);
    transform:translateY(80px)
}

100% {
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
}

@-ms-keyframes buy-move-up {
0% {
    -webkit-transform:translateY(80px);
    -ms-transform:translateY(80px);
    transform:translateY(80px)
}

100% {
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
}

/********************************   Footer    *************************************/ 

#footer {
    background:#ecf0f1;
    padding: 78px 0px 72px;
    -webkit-flex-flow:row wrap;
    -moz-flex-flow:row wrap;
    -ms-flex-flow:row wrap;
    -o-flex-flow:row wrap;
    flex-flow:row wrap;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-o-flex;
    display:flex;
    font-weight:500;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased
}

#footer .wrapper {
    box-sizing:border-box;
    margin:0 auto;
    max-width:1203px;
    min-width:310px;
    padding:0 42px;
    position:relative;
    width:100%
}

@media only screen and (max-width: 540px) {
#footer {
    padding:50px 0 100px
}
}

#footer .footer-content-container {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-o-flex;
    display:flex;
    -webkit-flex-flow:row;
    -moz-flex-flow:row;
    -ms-flex-flow:row;
    -o-flex-flow:row;
    flex-flow:row
}

@media only screen and (max-width: 680px) {
#footer .footer-content-container {
    -webkit-flex-flow:column-reverse;
    -moz-flex-flow:column-reverse;
    -ms-flex-flow:column-reverse;
    -o-flex-flow:column-reverse;
    flex-flow:column-reverse
}
}

#footer .footer-proper {
    -webkit-flex:1 1 auto;
    -moz-flex:1 1 auto;
    -ms-flex:1 1 auto;
    -o-flex:1 1 auto;
    flex:1 1 auto;
    padding-right:48px
}

@media only screen and (max-width: 680px) {
#footer .footer-proper {
    padding-right:0
}
}

#footer .footer-tagline,.footer-tagline h1 {
    color:#000;
    font-size:18px;
    font-weight:400;
    -webkit-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -moz-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -ms-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -o-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -moz-osx-font-smoothing:initial;
    -webkit-font-smoothing:subpixel-antialiased
}

#footer .footer-tagline h1 {
    font-size:23px
}

#footer .footer-tagline span {
    color:red
}

@media only screen and (max-width: 540px) {
#footer h1.footer-tagline,.footer-tagline {
    font-size:16px
}
}

#footer .footer-primary-links {
    margin:20px 0;
    display:inline-block
}

@media only screen and (max-width: 985px) {
#footer .footer-primary-links a {
    display:block
}
}

@media only screen and (max-width: 540px) {
#footer .footer-primary-links a {
    display:block
}
}

#footer .footer-primary-links a {
    color:#000;
    font-size:18px;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    font-weight:400;
    -moz-osx-font-smoothing:initial;
    -webkit-font-smoothing:subpixel-antialiased;
    margin-right:20px;
    text-decoration:none;
    line-height:1.5
}

@media only screen and (max-width: 540px) {
#footer .footer-primary-links a {
    font-size:16px
}
}

#footer .footer-primary-links a:hover {
    color:red;
    background-size:2px 2px;
    background-image:-webkit-linear-gradient(to bottom,transparent 50%,#141414 50%);
    background-image:-moz-linear-gradient(to bottom,transparent 50%,#141414 50%);
    background-image:-ms-linear-gradient(to bottom,transparent 50%,#141414 50%);
    background-image:-o-linear-gradient(to bottom,transparent 50%,#141414 50%);
    background-image:linear-gradient(to bottom,transparent 50%,#141414 50%);
    background-repeat:repeat-x;
    background-position:center bottom
}

#footer .footer-primary-links a.active {
    font-weight:500;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased
}

#footer .footer-primary-links a.active:hover span {
    color:#333;
    cursor:default;
    background-image:none
}

#footer .footer-secondary-links {
    margin:20px 0
}

#footer .footer-secondary-links a {
    padding-right:20px
}

#footer .footer-small-text {
    color:#000;
    font-size:15px;
    font-weight:300;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased
}

#footer .footer-small-text p {
    margin:0;
    max-width:600px;
    font-weight:400
}

#footer .footer-small-text p.strong {
    color:#878787
}

#footer .footer-small-text a {
    color:#000;
    font-weight:400;
    -webkit-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    -ms-transition:color .2s ease-in-out;
    -o-transition:color .2s ease-in-out;
    transition:color .2s ease-in-out;
    text-decoration:none
}

#footer .footer-small-text a:hover {
    color:red
}

#footer .footer-social-links a {
    display:inline-block;
    width:32px;
    height:48px;
    font-size:0;
    vertical-align:bottom;
    background-repeat:no-repeat;
    background-position:center center;
    -webkit-transition:.2s all ease-in-out;
    -moz-transition:.2s all ease-in-out;
    -ms-transition:.2s all ease-in-out;
    -o-transition:.2s all ease-in-out;
    transition:.2s all ease-in-out;
    opacity:1
}

#footer .footer-social-links a:hover {
    opacity:.7
}

#footer .footer-social-links a.footer-facebook-link {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNpi%2FP%2F%2FP8NAAiaGAQajDhh1ANEOYGRkRMcCQDwfiM8D8X8gvg%2FE%2B0l1ACOx2RBkKRJQAOLzQCyArg5oHiM9oqAem%2BXkABYy9QWg8RcA8UNyDCI3CpA1XQBiQ6QooHsu%2BDBiyoH90KBHD2MHJPH%2FAx0CFwbaAR9omQ0XAvFBpHIABh5A5cgKAXC2IQaja0PC%2B8kxD4ZHa8NRB4w6YMAdwDjaMRl1wKgDBtoBAAEGAJwhbiKJBO64AAAAAElFTkSuQmCC);
    background-image:-webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNpi%2FP%2F%2FP8NAAiaGAQajDhh1ANEOYGRkRMcCQDwfiM8D8X8gvg%2FE%2B0l1ACOx2RBkKRJQAOLzQCyArg5oHiM9oqAem%2BXkABYy9QWg8RcA8UNyDCI3CpA1XQBiQ6QooHsu%2BDBiyoH90KBHD2MHJPH%2FAx0CFwbaAR9omQ0XAvFBpHIABh5A5cgKAXC2IQaja0PC%2B8kxD4ZHa8NRB4w6YMAdwDjaMRl1wKgDBtoBAAEGAJwhbiKJBO64AAAAAElFTkSuQmCC) 2x)
}

#footer .footer-social-links a.footer-twitter-link {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOVJREFUeNrsllENxCAMhtkpmAQkIOEkIGXn4BxMAhbOAZmCSdg5OAkcTbqELAFaRsJLm%2Fwv29L%2Fo6XNphCCGhkPNTgEQAAEYDiAgkWUE4appJijHKRCHVE2SuPzuehBANgxUS58Yn4VvLN3AdJk%2BmJuCuagH3zTowJpUpe05VkBMNU2EwCWgsFeAVA9AM5SBqY8BYAyhh%2B86dz49hpD3VgB26sFECsT4qAekroJN2YbXj034RkWT1Y7vWN5MADgLry55ncBLI7TTth4S1OViVOwZiA8Gs%2BtbZ7kt1wABEAARgP8BRgAhZ59yUn%2BLCgAAAAASUVORK5CYII%3D);
    background-image:-webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOVJREFUeNrsllENxCAMhtkpmAQkIOEkIGXn4BxMAhbOAZmCSdg5OAkcTbqELAFaRsJLm%2Fwv29L%2Fo6XNphCCGhkPNTgEQAAEYDiAgkWUE4appJijHKRCHVE2SuPzuehBANgxUS58Yn4VvLN3AdJk%2BmJuCuagH3zTowJpUpe05VkBMNU2EwCWgsFeAVA9AM5SBqY8BYAyhh%2B86dz49hpD3VgB26sFECsT4qAekroJN2YbXj034RkWT1Y7vWN5MADgLry55ncBLI7TTth4S1OViVOwZiA8Gs%2BtbZ7kt1wABEAARgP8BRgAhZ59yUn%2BLCgAAAAASUVORK5CYII%3D) 2x)
}

#footer .footer-social-links a.footer-pinterest-link {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWxJREFUeNrsVottAyEMvYsyACNcN2CEjHCdoIyQEdjgRrh2gnaDdIN0A7pBsgEF6SE5lgn0Po0qHdITFwfsh21sdt775pHYNQ8eG4GNwD73R9u2NfsPmD9LC2PGL%2BEBFWADXNQZcAI8ZBZr6kfufgrDBFxg7B4uWFtnp5LAWGGYY1yKgBGUnyCPOdBhHgQPmRKBNpccSEKF2Ka4XgOekXQGxpP8Fd%2BRnCbypzjn7JQ8YNmJNOAysdeEdJLbOSGgigbIziTrz4zEuxA2N4cAP31PlCpGKKFBaG5kU7rhgf3%2BIrH9QHybzL3%2FLuiaVIiUYLQjiUgN6yV6AS%2BvPTl5R2TSHl3QVe0B6soBiq8Ih%2BT%2BN8wvd8Ix6xom9OSkDkhF58jWzrqGKlP%2FFYwfhUbFa4NauhQ75h2H6icRNWs0o5GU3D9pRrwdW6HQrN6OaZw1boQXQpN9kEzthqs%2Fyfa%2F3VBbYLZn%2BUbg3xD4EWAAA4bJ5h1bcbEAAAAASUVORK5CYII%3D);
    background-image:-webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWxJREFUeNrsVottAyEMvYsyACNcN2CEjHCdoIyQEdjgRrh2gnaDdIN0A7pBsgEF6SE5lgn0Po0qHdITFwfsh21sdt775pHYNQ8eG4GNwD73R9u2NfsPmD9LC2PGL%2BEBFWADXNQZcAI8ZBZr6kfufgrDBFxg7B4uWFtnp5LAWGGYY1yKgBGUnyCPOdBhHgQPmRKBNpccSEKF2Ka4XgOekXQGxpP8Fd%2BRnCbypzjn7JQ8YNmJNOAysdeEdJLbOSGgigbIziTrz4zEuxA2N4cAP31PlCpGKKFBaG5kU7rhgf3%2BIrH9QHybzL3%2FLuiaVIiUYLQjiUgN6yV6AS%2BvPTl5R2TSHl3QVe0B6soBiq8Ih%2BT%2BN8wvd8Ix6xom9OSkDkhF58jWzrqGKlP%2FFYwfhUbFa4NauhQ75h2H6icRNWs0o5GU3D9pRrwdW6HQrN6OaZw1boQXQpN9kEzthqs%2Fyfa%2F3VBbYLZn%2BUbg3xD4EWAAA4bJ5h1bcbEAAAAASUVORK5CYII%3D) 2x)
}

#footer .footer-newsletter-sign-up {
    -webkit-flex:0 1 600px;
    -moz-flex:0 1 600px;
    -ms-flex:0 1 600px;
    -o-flex:0 1 600px;
    flex:0 1 600px;
    border-left:2px solid #000;
    padding-left:48px
}

@media only screen and (max-width: 680px) {
#footer .footer-newsletter-sign-up {
    -webkit-flex:1 1;
    -moz-flex:1 1;
    -ms-flex:1 1;
    -o-flex:1 1;
    flex:1 1;
    padding-left:0;
    padding-bottom:48px;
/*padding-bottom: 10px;*/
    border-left:none;
    border-bottom:2px solid #000;
    margin-bottom:48px
}
}

#footer .footer-newsletter-description {
    color:#3770a7;
    font-size:18px;
    -webkit-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -moz-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -ms-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    -o-transition:color .2s ease-in-out,font-size .2s ease-in-out;
    transition:color .2s ease-in-out,font-size .2s ease-in-out;
    font-weight:300;
    -moz-osx-font-smoothing:initial;
    -webkit-font-smoothing:subpixel-antialiased;
    margin-bottom:24px
}

@media only screen and (max-width: 540px) {
#footer .footer-newsletter-description {
    font-size:16px
}
}

#footer .btn-main {
    z-index:1
}

#footer .btn-main:after {
    content:'';
    position:absolute;
    z-index:-1;
    width:0;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,1);
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s ease
}

#footer .btn-main:hover,#footer .btn-main:active {
    color:#fff
}

#footer button.btn-main:hover::after,#footer button.btn-main:active::after {
    width:100%
}

@media only screen and (max-width: 746px) {
#footer .btn-main {
    padding:25px 40px
}
}

@media only screen and (max-width: 681px) {
#footer .btn-main {
    margin:0 auto;
    left:0;
    right:0
}
}


/***********************************************************************************************************************************************************/
/********************************                                   Dashboard                                      ****************************************/
/*****************************************************************************************************************************************************/



.mt {
    margin-top: 25px;
}

/*sidebar navigation*/

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #424a5d;
}


#sidebar ul li {
    position: relative;
    list-style-type: none;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}


ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
    color: white;
    background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #68dff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #68dff0;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}


/* MAIN CONTENT CONFIGURATION */
#main-content {
    margin-left: 210px;
}


.wrapper {
    display: inline-block;
    margin-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

@media (max-width: 768px) {

   
    /*sidebar*/

    #sidebar {
        height: auto;
        overflow: hidden;
        position:relative;
        width: 100%;
        top:0; 
        height:250px;
        z-index: 1001;
        overflow-y:scroll;
    }


    /* body container */
    #main-content {
        margin: 0px!important;
        position: none !important;
    }
    
    .wrapper {
        margin-top:10px
    }

    #sidebar > ul > li > a > span {
        line-height: 35px;
    }

    #sidebar > ul > li {
        margin: 0 10px 5px 10px;
    }
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }
  
    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }
   
  
    ul.sidebar-menu li ul.sub li a {
        padding: 0;
    }

   
}

.nav-sidebar  {
position: relative;
text-align: center;


}

.wrapper-nav {
padding: 14px 40px;
position: relative;
box-sizing: border-box;
}

.wrapper-dropdown {
    position:relative;
    display:inline-block;
    height:32px;
 
    margin:0 auto;
    cursor:pointer;
    line-height:32px;
    outline:0;
    margin-bottom: 10px;
    width: 197px;
}
.wrapper-dropdown:nth-of-type(1) {
    z-index:4
}
.wrapper-dropdown:nth-of-type(2) {
    z-index:3
}
.wrapper-dropdown:nth-of-type(3) {
    z-index:2
}
.wrapper-dropdown:nth-of-type(4) {
    z-index:1
}
.wrapper-dropdown span {
    display:block;
    padding:0 0 0 15px;
    color:#FFF;
    background:#000;
    text-align: left;
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}
.wrapper-dropdown span:hover {
    opacity:.75
}
.wrapper-dropdown span:before {
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    height:32px;
    width:32px;
    background:rgb(189, 195, 199);
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}
.wrapper-dropdown span:after {
    content:'';
    display:block;
    position:absolute;
    top:50%;
    right:11px;
    height:0;
    width:0;
    margin-top:-3px;
    border:solid rgba(0, 0, 0, 0);
    border-top-color:#434343;
    border-width:7px 4px;
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}
.wrapper-dropdown.active span:after {
    margin-top:-11px;
    border-top-color:rgba(0, 0, 0, 0);
    border-bottom-color:#434343
}
.wrapper-dropdown ul {
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    max-height:327px;
    border-top:0;
    list-style:none;
    background:#262626;
    opacity:0;
    visibility:hidden;
    overflow:auto;
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}

.wrapper-dropdown.active ul {
    opacity:1;
    visibility:visible
}
.wrapper-dropdown ul li {
    position:relative;
    line-height:40px;
    border-bottom:1px solid #343434;
    font-family:'MuseoSans_Thin';
    font-size:13px
}
.wrapper-dropdown ul li:last-child {
    border-bottom:0
}
.wrapper-dropdown ul li strong {
    font-weight:normal
}
.wrapper-dropdown ul li a, .wrapper-dropdown ul li em {
    display:block;
    padding:0 0 0 15px;
    color:#a3a3a3;
    font-style:normal;
    -webkit-transition:all .25s ease-out;
    transition:all .25s ease-out
}
.wrapper-dropdown ul li a:hover, .wrapper-dropdown ul li em:hover {
    background:#3d3d3d
}
.wrapper-dropdown.multilevel ul {
    height:245px;
    overflow:hidden
}
.wrapper-dropdown.multilevel ul.open {
    height:327px
}
.wrapper-dropdown.multilevel ul li ul {
    display:none
}
.wrapper-dropdown.multilevel ul li.show {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:327px;
    overflow:hidden
}
.wrapper-dropdown.multilevel ul li.show em {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background:#161616;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.wrapper-dropdown.multilevel ul li.show em:after {
    content:'\e802';
    display:block;
    position:absolute;
    top:0;
    right:0;
    width:32px;
    height:40px;
    font-family:'icons';
    font-size:12px;
    text-align:center;
    line-height:40px
}
.wrapper-dropdown.multilevel ul li.show em:hover {
    color:#fff
}
.wrapper-dropdown.multilevel ul li.show ul {
    display:block;
    top:40px;
    height:286px;
    overflow:auto
}

.list-tags {
    overflow:hidden
}
.list-tags li {
    position:relative;
    float:left;
    list-style: none;
    margin:0 6px 6px 0px
}
.list-tags li a {
    display:block;
    height:23px;
    padding:0 10px;
    line-height:24px;
    background:#d4d5d6;
    font-size:13px;
    color:#313131;
    border-radius:2px;
    -webkit-transition:background .25s ease-out;
    transition:background .25s ease-out
}
.list-tags li.green a, .list-tags li a.green {
    background:#3c948b;
    color:#fff
}
.list-tags li a.tag-sotd {
    background-color:#3c948b;
    color:#fff
}
.list-tags li a.tag-sotm {
    background-color:#b3d366;
    color:#fff
}
.list-tags li a.tag-nominee {
    background-color:#df6c4f;
    color:#fff
}
.list-tags li a.tag-user-work {
    background-color:#cbd5e1;
    color:#fff
}
.list-tags li a.tag-honorable-mention {
    background-color:#8d9ba2;
    color:#fff
}
.list-tags li a.tag-sotw {
    background-color:#40aacd;
    color:#fff
}
.list-tags li a:hover {
    background:#444;
    color:#fff
}
.list-tags li a.current {
    background:#3c948b;
    color:#fff
}
.list-tags.float, .list-tags.float ul {
    float:left
}

.list-tags li.close a {
    padding-right:43px;
    height:33px;
    line-height:33px;
    border-radius:0
}
.list-tags li.close.style2 a {
    background:#3c948b;
    color:#fff
}
.list-tags li.close a:before {
    content:'✕';
    position:absolute;
    top:0;
    right:0;
    display:block;
    width:33px;
    height:33px;
    background:#444;
    font-size:13px;
    color:#eee;
    text-align:center;
    line-height:34px
}
.list-tags li.close.style2 a:before {
    background:#fff;
    color:#3c948b
}



























