{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load cloudinary %}
{% load staticfiles %} 

{% block head_title %}{{brand.brand_name}} Brand Guide{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "css/collection.css" %}" />
{% endblock %}

{% block body_class %}brand-collectionr{% endblock %}


{% block topbar_base %}
<!-- Top Navigation -->
<header class="codrops-top clearfix">
	<a class="brand-back-button" href="{{brand.get_absolute_url}}#collection"><span class="fa fa-arrow-left"></span><span>Back To {{ brand.brand_name }}</span></a>
</header>
{% endblock %}


{% block main_container_id %}brand-collection-content{% endblock %}
{% block body %}
<ul class="grid effect-2" id="grid">
{% for product in product_list %} 
	<li>
		<img src="{% cloudinary_url product.product_image %}">
		<div class="moments-info">
			<p class="moments-title">{{product.product_name}}</p>
			<p class="moments-text">Classic 100% acrylic Beanie. Available in 5 cololrs: Black, Charcoal, Red, and Lt. Gray. Made in the USA.</p>
			<p class="moments-text">${{product.product_price}} </p>
		</div>
	</li>
{% endfor %} 

</ul>
<a href="javascript:void(0);" id="scrollTop">Scroll Top</a>
{% endblock %}


{% block extra_script %}
	<script src="{% static "js/lib/masonry.pkgd.min.js" %}"></script>
    <script src="{% static "js/lib/imagesloaded.js" %}"></script>
    <script src="{% static "js/lib/classie.js" %}"></script>
    <script src="{% static "js/lib/AnimOnScroll.js" %}"></script>
    <script>

    	/*
         *
         * Scroll Up functionality
         *
         */
        var $elScroll = $('#scrollTop');

        $(window).scroll(function() {
            if( $(this).scrollTop() > 100 ) {
                $elScroll.fadeIn();
            } else {
                $elScroll.fadeOut();
            }
        });

        $elScroll.on('click', function() {
            $('html, body').animate({
                scrollTop:0
            }, 600);
            return false;
        });
    	
    	new AnimOnScroll( document.getElementById( 'grid' ), {
			minDuration : 0.4,
			maxDuration : 0.7,
			viewportFactor : 0.2
		});
    </script>  
{% endblock %}


