{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load cloudinary %}
{% load account_tags %}
{% load bootstrap %}
{% load staticfiles %} 

{% block head_title %}{{brand.brand_name}}'s Story{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "css/jquery.fullPage.css" %}" />
    <link rel="stylesheet" href="{% static "css/jquery.remodal.css" %}">
{% endblock %}

{% block body_class %}brand-cover remodal-bg{% endblock %}


{% block main_container_id %}brand-cover-content{% endblock %}
{% block body %}
    <div id="unlabelBrandCover">
        <ul>
            <!-- Introduction slide -->
            <li class="section-brand">
                <div class="slideSub unlabel-bg-dark" style="background-image: url(&quot;{% cloudinary_url brand.brand_feature_image %}&quot;);"></div>
                <div class="unlabelTable">
                    <div class="unlabelTableCell">
                        <div class="sliderCopy">
                            {{ brand.brand_name }}
                        </div>
                        
                        <div class="scBtn">
                            <div class="scBT slide1">
                                Founded {{ brand.brand_founded }} 
                                <span class="midDotSeparator">·</span> 
                                {{ brand.brand_origin_city }}, {{ brand.brand_origin_state }}
                            </div>
  
                        </div>
                    </div>
                </div>
                <div class="mSliderLink slide1"><span class="mLink">1 of 5</span></div>
                <div class="subSArrows slide1 subSRight">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="31.1px" height="11px" viewBox="0 0 31.1 11" enable-background="new 0 0 31.1 11" xml:space="preserve"><defs></defs><path fill="#FFFFFF" d="M31,0.7l-0.2-0.2C30.6,0,30-0.2,29.2,0.3L16.2,8.5c-0.3,0.2-0.5,0.3-0.6,0.4c-0.1-0.1-0.3-0.3-0.6-0.5 L1.9,0.2C1.2-0.1,0.7-0.1,0.2,0.5L0.1,0.7C0,0.8,0,1,0,1.1s0.1,0.2,0.2,0.3l15,9.5c0.1,0.1,0.2,0.1,0.3,0.1h0.2c0.1,0,0.2,0,0.3-0.1 l15-9.5c0.1-0.1,0.2-0.2,0.2-0.3S31.1,0.8,31,0.7z"></path></svg>
                </div>    
            </li>
            <!-- End Introduction slide -->
            
            <!-- About slide -->
            <li class="section-brand">
                <div class="slideSub unlabel-bg-dark" style="background-image: url(&quot;{% cloudinary_url brand.brand_about_image %}&quot;);"></div>
            
                <div class="unlabelTable">
                    <div class="unlabelTableCell">
                        <div class="sliderCopy">About {{ brand.brand_name }}</div>
                        <div class="scBtn">
                            <div class="scBT slide2">{{ brand.brand_about_description }}</div>
                        </div>
                    </div>
                </div>
                <div class="mSliderLink slide2"><span class="mLink">2 of 5</span></div>
                <div class="subSArrows slide2 subSLeft">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="31.5px" height="11px" viewBox="0 0 31.5 11" enable-background="new 0 0 31.5 11" xml:space="preserve"><defs></defs><path fill="#FFFFFF" d="M16.1,0.1L16,0h-0.5L0,9.8l0.4,0.7c0.3,0.5,0.9,0.7,1.7,0.2l13.1-8.3c0.3-0.2,0.5-0.3,0.6-0.4 c0.1,0.1,0.3,0.3,0.6,0.5l13.1,8.3c0.3,0.2,0.5,0.2,0.7,0.2c0.3,0,0.6-0.1,0.9-0.5l0.4-0.7L16.1,0.1z"></path></svg>
                </div>
                <div class="subSArrows slide2 subSRight">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="31.1px" height="11px" viewBox="0 0 31.1 11" enable-background="new 0 0 31.1 11" xml:space="preserve"><defs></defs><path fill="#FFFFFF" d="M31,0.7l-0.2-0.2C30.6,0,30-0.2,29.2,0.3L16.2,8.5c-0.3,0.2-0.5,0.3-0.6,0.4c-0.1-0.1-0.3-0.3-0.6-0.5 L1.9,0.2C1.2-0.1,0.7-0.1,0.2,0.5L0.1,0.7C0,0.8,0,1,0,1.1s0.1,0.2,0.2,0.3l15,9.5c0.1,0.1,0.2,0.1,0.3,0.1h0.2c0.1,0,0.2,0,0.3-0.1 l15-9.5c0.1-0.1,0.2-0.2,0.2-0.3S31.1,0.8,31,0.7z"></path></svg>
                </div>
            </li>
            <!-- End About slide -->
            
            <!-- Collection slide -->
            <li class="section-brand">
                    <div class="slideSub unlabel-bg-dark" style="background-image: url(&quot;{% cloudinary_url brand.brand_collection_image %}&quot;);"></div> 
                
                    <div class="unlabelTable">
                        <div class="unlabelTableCell">
                            <div class="sliderCopy">Collection</div>
                            <div class="scBtn">
                                <div class="scBT slide3">{{ brand.brand_collection_description }}</div>
                                <div class="brand-cover-button"><a  href="{{brand.get_absolute_url}}collection">View Collection</a></div>
                            </div>
                        </div>
                    </div>
                
                <div class="mSliderLink slide3"><span class="mLink">3 of 5</span></div>
                <div class="subSArrows slide3 subSLeft">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="31.5px" height="11px" viewBox="0 0 31.5 11" enable-background="new 0 0 31.5 11" xml:space="preserve"><defs></defs><path fill="#FFFFFF" d="M16.1,0.1L16,0h-0.5L0,9.8l0.4,0.7c0.3,0.5,0.9,0.7,1.7,0.2l13.1-8.3c0.3-0.2,0.5-0.3,0.6-0.4 c0.1,0.1,0.3,0.3,0.6,0.5l13.1,8.3c0.3,0.2,0.5,0.2,0.7,0.2c0.3,0,0.6-0.1,0.9-0.5l0.4-0.7L16.1,0.1z"></path></svg>
                </div>
                <div class="subSArrows slide3 subSRight">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="31.1px" height="11px" viewBox="0 0 31.1 11" enable-background="new 0 0 31.1 11" xml:space="preserve"><defs></defs><path fill="#FFFFFF" d="M31,0.7l-0.2-0.2C30.6,0,30-0.2,29.2,0.3L16.2,8.5c-0.3,0.2-0.5,0.3-0.6,0.4c-0.1-0.1-0.3-0.3-0.6-0.5 L1.9,0.2C1.2-0.1,0.7-0.1,0.2,0.5L0.1,0.7C0,0.8,0,1,0,1.1s0.1,0.2,0.2,0.3l15,9.5c0.1,0.1,0.2,0.1,0.3,0.1h0.2c0.1,0,0.2,0,0.3-0.1 l15-9.5c0.1-0.1,0.2-0.2,0.2-0.3S31.1,0.8,31,0.7z"></path></svg>
                </div>
            </li>
            <!-- End Collection slide -->
            
            <!-- Connect slide -->
            <li class="section-brand">
                <div class="slideSub unlabel-bg-dark" style="background-image: url(&quot;{% cloudinary_url brand.brand_connect_image %}&quot;);"></div> 
            
                <div class="unlabelTable">
                    <div class="unlabelTableCell">
                        <div class="sliderCopy">Connect</div>
                        <div class="scBtn">
                            <div class="container">
                                <div class="row mb-60">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="row">
                                            {% if brand.brand_location_state == True %}
                                                {% for address in address_list %} 
                                                    <!-- Address -->
                                                    <div class="col-sm-6 col-lg-4 pt-20 pb-20">
                                                        <div class="contact-item">
                                                            <div class="ci-icon">
                                                                <i class="fa fa-map-marker"></i>
                                                            </div>
                                                            <div class="ci-title font-alt">Brick & Mortar</div>
                                                            <div class="ci-text">
                                                                {{address.brand_address}}, {{address.brand_city}}, {{address.brand_state}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Address --> 
                                                {% endfor %} 
                                            {% endif %}  

                                            {% if brand.brand_website_state == True %}
                                                <!-- Web -->
                                                <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                                    <div class="contact-item">
                                                        <div class="ci-icon">
                                                            <i class="fa fa-globe"></i>
                                                        </div>
                                                        <div class="ci-title font-alt">Web</div>
                                                        <div class="ci-text">
                                                            <a href="{{brand.brand_website_url}}">{{brand.brand_name}}.com</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Web -->  
                                            {% endif %}   


                                            {% if brand.brand_location_state == False and brand.brand_website_state == False and brand.brand_email_state == True %}
                                                <!-- Email -->
                                                <div class="align-center">
                                                    <div class="section-text align-center mb-70 mb-xs-40">
                                                        Email the label below if your interested in buying any of the products seen in the collecton.                          
                                                    </div>
                                                    <div class="local-scroll">
                                                        <a href="mailto:{{brand.brand_email}}"  class="btn btn-mod btn-w btn-medium btn-round">{{brand.brand_email}}</a>
                                                    </div>
                                                 </div>
                                                <!-- End Email --> 
                                            {% endif %}    
                                        </div>
                                    </div> 
                                </div> 
                            </div><!--Information -->
                        </div><!--scBtn-->
                    </div><!--unlabelTableCell-->
                </div><!--unlabelTable-->
                    
                <div class="mSliderLink slide4"><span class="mLink">4 of 5</span></div>
                <div class="subSArrows slide4 subSLeft">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="31.5px" height="11px" viewBox="0 0 31.5 11" enable-background="new 0 0 31.5 11" xml:space="preserve"><defs></defs><path fill="#FFFFFF" d="M16.1,0.1L16,0h-0.5L0,9.8l0.4,0.7c0.3,0.5,0.9,0.7,1.7,0.2l13.1-8.3c0.3-0.2,0.5-0.3,0.6-0.4 c0.1,0.1,0.3,0.3,0.6,0.5l13.1,8.3c0.3,0.2,0.5,0.2,0.7,0.2c0.3,0,0.6-0.1,0.9-0.5l0.4-0.7L16.1,0.1z"></path></svg>
                </div>
                <div class="subSArrows slide4 subSRight">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="31.1px" height="11px" viewBox="0 0 31.1 11" enable-background="new 0 0 31.1 11" xml:space="preserve"><defs></defs><path fill="#FFFFFF" d="M31,0.7l-0.2-0.2C30.6,0,30-0.2,29.2,0.3L16.2,8.5c-0.3,0.2-0.5,0.3-0.6,0.4c-0.1-0.1-0.3-0.3-0.6-0.5 L1.9,0.2C1.2-0.1,0.7-0.1,0.2,0.5L0.1,0.7C0,0.8,0,1,0,1.1s0.1,0.2,0.2,0.3l15,9.5c0.1,0.1,0.2,0.1,0.3,0.1h0.2c0.1,0,0.2,0,0.3-0.1 l15-9.5c0.1-0.1,0.2-0.2,0.2-0.3S31.1,0.8,31,0.7z"></path></svg>
                </div>
            </li>
            <!-- End Connect slide -->
            
            <!-- Bookmark Slide -->
            <li class="section-brand">
                <div class="slideSub unlabel-bg-dark" style="background-image: url(&quot;{% static "images/save-brand.jpg" %}&quot;);"></div>
                
                <div class="unlabelTable">
                    <div class="unlabelTableCell">
                        <div class="sliderCopy">Add {{brand.brand_name}}</div>
                        <div class="scBtn">
                            {% if request.user.is_authenticated %}
                                {% if is_followed %}
                                    {% for message in messages %}
                                        <div class="scBT slide5">{{ message }}</div>
                                    {% endfor %}
                                    <span class="follow icon-heart"></span>
                                {% else %}
                                    <div class="scBT slide5">Click on the Heart and add <span>{{brand.brand_name}}</span> to your collection of independent fashion labels.</div>
                                    <a class="brand_follow" href="/account/api/subscribe/?brand_name={{ brand.brand_name }}"><span class="unfollow icon-heart"></span></a>
                                {% endif %}

                            {% else %}
                                <a class="brand_login_follow" data-remodal-target="modal" data-url="/ajax_login" href="javascript:void(0);"><div class="unfollow icon-heart"></div></a>
                            {% endif %}
                        </div>
                        <div class="social-wrapper">
                            <div class="social-share"><h1>Share {{brand.brand_name}}</h1></div>
                            <div class="social-buttons">
                                <ul>
                                    <li class="social-button">
                                        <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://{{ request.get_host }}{{ request.path }}&title={{ brand.brand_name }}">
                                            <img alt="" src="{% static "images/facebook-share-brand.png" %}" />
                                        </a>
                                    </li>
                                    <li class="social-button">
                                        <a target="_blank" href="http://www.tumblr.com/share?v=3&u=http://{{ request.get_host }}{{ request.path }}&t=[TITLE]">
                                            <img alt="" src="{% static "images/tumblr-share-brand.png" %}" />
                                        </a>
                                    </li>
                                    <li class="social-button">
                                        <a target="_blank" href="http://twitter.com/intent/tweet?status=[TITLE]+http://{{ request.get_host }}{{ request.path }}">
                                            <img alt="" src="{% static "images/twitter-share-brand.png" %}" />
                                        </a>
                                    </li>
                                    <li class="social-button">
                                        <a target="_blank" href="http://pinterest.com/pin/create/bookmarklet/?media={% cloudinary_url brand.brand_feature_image %}&url=http://{{ request.get_host }}{{ request.path }}&is_video=false&description=[TITLE]">
                                            <img alt="" src="{% static "images/pinterest-share-brand.png" %}" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="mSliderLink slide5"><span class="mLink">5 of 5</span></div>
                <div class="subSArrows slide5 subSLeft">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="31.5px" height="11px" viewBox="0 0 31.5 11" enable-background="new 0 0 31.5 11" xml:space="preserve"><defs></defs><path fill="#FFFFFF" d="M16.1,0.1L16,0h-0.5L0,9.8l0.4,0.7c0.3,0.5,0.9,0.7,1.7,0.2l13.1-8.3c0.3-0.2,0.5-0.3,0.6-0.4 c0.1,0.1,0.3,0.3,0.6,0.5l13.1,8.3c0.3,0.2,0.5,0.2,0.7,0.2c0.3,0,0.6-0.1,0.9-0.5l0.4-0.7L16.1,0.1z"></path></svg>
                </div>
            </li>
            <!-- End Bookmark Slide -->

            <div class="clear"></div>
        </ul>
    </div><!--holder-->
    
    <!-- Ajax login to follow brand -->
    <div class="remodal" data-remodal-id="modal">
        <div id="ajax-login-brand"></div>
    </div>
{% endblock %}


{% block extra_script %}
    <script src="{% static "js/lib/jquery.fullPage.min.js" %}"></script>
    <script src="{% static "js/lib/jquery.remodal.min.js" %}"></script>
    <script src="{% static "js/follow.js" %}"></script>
    <script>
        window.remodalGlobals = {
            namespace: "modal",
            defaults: {
                hashTracking: false
            }
        };
    </script>
    <script>
    ;(function($){
        
        /*
         *
         * Page Animations
         *
         */
        
        $("#unlabelBrandCover .slide1").delay(1000).css({
            opacity: 1,
            transform: "matrix(1, 0, 0, 1, 0, 0)"
        });
        

     
        $('#unlabelBrandCover').fullpage({
            css3: true,
            sectionSelector: '.section-brand',
            anchors:['intro', 'bio', 'collection', 'connect', 'bookmark'],
            afterLoad: function( anchorLink, index){
                var loadedSlide = $(this);
     
                if(index == 2 ){
                    
                    $('#unlabelBrandCover .slide2').css({
                        opacity: 1,
                        transform: "matrix(1, 0, 0, 1, 0, 0)"
                    });
                
                } else if( index == 3 ) {
                    
                    $('#unlabelBrandCover .slide3').css({
                        opacity: 1,
                        transform: "matrix(1, 0, 0, 1, 0, 0)"
                    }); 
                
                } else if( index == 4 ) {

                    $('#unlabelBrandCover .slide4').css({
                        opacity: 1,
                        transform: "matrix(1, 0, 0, 1, 0, 0)"
                    }); 
                
                } else if( index == 5 ) {
                    $('#unlabelBrandCover .slide5').css({
                        opacity: 1,
                        transform: "matrix(1, 0, 0, 1, 0, 0)"
                    });
                }
            }  
        });
    })(jQuery); 
    </script>  
{% endblock %}


