{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load cloudinary %}
{% load staticfiles %} 

{% block head_title %}{% trans "Brand Guide" %}{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{% static "css/brand_guide.css" %}">
<link rel="stylesheet" href="{% static "fonts/font-awesome/css/font-awesome.min.css" %}">
{% endblock %}

{% block body_class %}appear-animate brand-guide{% endblock %}

{% block pre_wrapper_extra %}
    <!-- Page Loader -->        
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->
{% endblock %}


{% block topbar_base %}
    <!-- Navigation panel -->
    <nav class="main-nav dark transparent stick-fixed">
        <div class="full-wrapper relative clearfix">
            <div class="mobile-nav">
                <i class="fa fa-bars"></i>
            </div>
            <!-- Main Menu -->
            <div class="inner-nav desktop-nav">
                <ul class="clearlist scroll-nav local-scroll">
                    {% for brand in brand_list %}
                        <li><a href="#home">{{brand.brand_name}}</a></li>
                    {% endfor %}
                    <li><a href="#about">About</a></li>
                    <li><a href="#products">Collection</a></li>
                    <li><a href="#locations">Locations</a></li>
                    <!-- <li><a href="#social">Social</a></li> -->
                    <li><a href="#follow">Bookmark</a></li>
                    <li><a href="{% url "home" %}">Back to Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navigation panel --> 
{% endblock %}




{% block banner %}
    {% for brand in brand_list %}
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-30 parallax-2" data-background="{% cloudinary_url brand.brand_feature_image BRANDIMAGE %}" id="home">
        <div class="js-height-full">
            <div class="home-content">
                <div class="home-text">
                    <h1 class="hs-line-1 font-alt mb-80 mb-xs-30 mt-70 mt-sm-0">{{ brand.brand_name }}</h1>
                    <div class="hs-line-6">
                        Founded {{ brand.brand_founded }} <span class="midDotSeparator">·</span> {{ brand.brand_origin_city }}, {{ brand.brand_origin_state }}                   
                    </div>
                </div>
                <div class="local-scroll">
                    <a href="#about" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a>
                </div>  
            </div>
        </div>
    </section>
    <!-- End Home Section -->
    {% endfor %}
{% endblock  %}

{% block main_container_id %}brand-content{% endblock %}
{% block body %}
    
    {% for brand in brand_list %}
    <!-- About Section -->
    <section id="about" class="page-section bg-1">
        <div class="relative">
            <h2 class="section-title font-alt mb-70 mb-sm-40">About {{ brand.brand_name }}</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-text align-center mb-70 mb-xs-40">
                            {{ brand.brand_description }}                                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    {% endfor %}
       
    <!-- Product Section -->
    <section class="page-section" id="products">
        <div class="relative">
            
            <h2 class="section-title font-alt mb-70 mb-sm-40">Collection</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        {% for brand in brand_list %}  
                        <div class="section-text align-center mb-text-70 mb-xs-40">
                            {{ brand.brand_product_description }} 
                        </div>
                        {% endfor %}  
                    </div>
                </div>
            </div>
    
            <ul id="product-grid" class="grid list-item col-3"> 
                {% for product in product_list %} 
                <li class='col n-4'>
                    <div class='magazine-single-card-container medium'>
                        <div class='magazine-card magazine-product-card'>
                            <div class='magazine-product-img-container'>
                                <div class='hover-container'>

                                    <div class='product-image' style="background-image:url('{% cloudinary_url product.product_image PRODUCT %}');"></div>

                                    <div class='top-right'>
                                        <span class="card-price button-price">${{ product.product_price }}</span>
                                    </div>

                                    <!-- <a class="card-view" href="javascript:void(0)"></a> -->

                                    <label class="card-name">{{ product.product_name }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>          
        </div>
    </section>
    <!-- End Product Section -->
    
        
            
    <!-- Divider -->
    <hr class="mt-0 mb-0 "/>
    <!-- End Divider -->
                  
    <!-- Contact Section -->
    <section class="page-section" id="locations">
        <div class="container relative">
            <h2 class="section-title font-alt mb-70 mb-sm-40">Locations</h2>
            
            <div class="row mb-60 mb-xs-40">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                    {% for address in address_list %} 
                        {% if address.contact_type == "Web"  %}
                            <!-- Web -->
                            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                <div class="contact-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                     <div class="ci-title font-alt">
                                        {{address.contact_type}}
                                    </div>                                        
                                    <div class="ci-text">
                                        <a href="{{address.brand_website_url}}">{{address.brand_website_name}}</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End web -->
                        {% elif address.contact_type == 'Brick & Mortar' %}
                            <!-- Address -->
                            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                <div class="contact-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-building"></i>
                                    </div>
                                    <div class="ci-title font-alt">{{address.contact_type}}</div>
                                    <div class="ci-text">
                                        {{address.brand_address}}, </br>{{address.brand_city}}, {{address.brand_state}}
                                    </div>
                                </div>
                            </div>
                            <!-- End Address --> 
                        {% elif address.contact_type == 'Email' %}
                            <!-- Email -->
                            <div class="align-center">
                                <h3 class="banner-heading font-alt">Contact Designer</h3>
                                <div class="section-text align-center mb-70 mb-xs-40">
                                    This Brand has no web or brick                                   
                                </div>
                                <div class="local-scroll">
                                    <a href="#contact" class="btn btn-mod btn-w btn-medium btn-round">{{address.brand_email}}</a>
                                </div>
                             </div>
                            <!-- End Email -->          
                        {% endif %} 
                    {% endfor %} 
                    </div>
                </div> 
            </div> 
        </div>
    </section>
    <!-- End Contact Section -->
        

    <!-- Divider -->
    <!-- <hr class="mt-0 mb-0 "/> -->
    <!-- End Divider -->
       
    <!-- Start Social Media -->
    <!-- <section class="page-section" id="social">
        <div class="container align-center">
                
            <h2 class="section-title font-alt mb-70 mb-sm-40">Hotel 1171's Social Media </h2>
    
            <div class="footer-social-links mb-110 mb-xs-60">
                <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
            </div>
                  
        </div>
    </section> -->
    <!-- End Social Media -->
    
    <!-- Foter -->
    <footer class="page-section bg-gray-lighter footer pb-60" id="follow">
        <div class="container">
        {% for brand in brand_list %}
            <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                <img src="{% cloudinary_url brand.brand_logo %}" width="78" height="36" alt="" />
            </div>

            <h4 class="section-title font-alt"><a class="follow-brand" href="#">Mark {{ brand.brand_name }}1</a></h4> 
        </div>
        {% endfor %}
         <!-- Top Link -->
        <div class="local-scroll">
            <a href="#indie-wrapper" class="link-to-top"><i class="fa fa-caret-up"></i></a>
        </div>
        <!-- End Top Link -->  
    </footer>
    <!-- End Foter -->
{% endblock %}


{% block extra_script %}
<script src="{% static "js/lib/jquery.easing.1.3.js" %}"></script>
<script src="{% static "js/lib/SmoothScroll.js" %}"></script>
<script src="{% static "js/lib/jquery.scrollTo.min.js" %}"></script>
<script src="{% static "js/lib/jquery.localScroll.min.js" %}"></script>
<script src="{% static "js/lib/jquery.sticky.js" %}"></script>
<script src="{% static "js/lib/jquery.parallax-1.1.3.js" %}"></script>
<script src="{% static "js/lib/brand_guide.js" %}"></script>
{% endblock %}


