{% extends "site_base.html" %}

{% block header_class %}base-header-product base{% endblock %}



{% block body_base %}
<!-- product menu -->
<div class="product-menu">
    <div class="product-wrapper">
        <div class="menu-left">
            <ul class="category">
                <li  id="menu-toggle" class=""></li>
            </ul>
        </div>
        <div class="menu-right">
            <div class="menu-show">
                <!-- To show the current site begin filtered and allow user to change -->
            </div>
        </div> 
    </div>
</div>
<div id="product-navigation-filter" class="product-navigation-filter product-navigation-filter-bottom" >
    <div class="filter-options">
        <div id="menu" class="filter-section">
            <div class="filter-section-men">
                <label class="filter-label-sub">Men:</label>
                <ul id="men">
                <!-- men section -->
   
                </ul>
            </div>
            <div class="filter-section-women">
                <label class="filter-label-sub">Women:</label>
                <ul id="women"> 
                <!-- womens section --> 
                
                </ul> 
            </div>
            <div class="filter-section-price">
                <label class="filter-label-sub">Price Range:</label>
                <ul id="price">
                    <!-- price -->
                </ul>    
            </div>
            <div class="filter-section-other">
                <label class="filter-label-sub">Sort:</label>
                <ul id="other">
                    <!-- other filter -->
                </ul>    
            </div>
            <div class="filter-clear">
                <a id="product-clear" href="#" class="product-button-clear">Clear Filter</a>
            </div> 
        </div> 
    </div>     
</div>
 <main id="content">
    <div class="block last">
        <div class="inner" role="main">
            {% block product %}{% include "product_extend/_product.html" %} {% endblock %}
        </div>
    </div>
    </main>
{% endblock %}



{% block footer %}{% endblock %}