{% extends "site_base.html" %}

{% block header_class %}base-header-product{% endblock %}
{% block topbar %}
    <ul class="left category">
        <li><a href="#">Men </a></li>
        <li><a href="#">Women </a></li>
    </ul>
    <ul class="right clearfix">
        {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
    </ul>    
{% endblock %}

{% block body %}
    <div class="block last"></div>
        <div class="inner" role="main">
            {% block product %}{% include "product_extend/_product.html" %} {% endblock %}
        </div>
{% endblock %}