{% load url from future %}
{% load i18n %}

<!-- Global Website search (top) -->
<div class="website-filtersearch">
    <header class="navigation__header navigation__header-search">
        <a id="indie-global-websearch-close" href="javascript:void(0)" class="navigation__header__close"><span class="icon-indie_web-03"></span></a>
    </header>   
    <section class="nav-sidebar" id="nav-filters">
        <div class="wrapper-nav">
            <h3 id="websites-count" class="results-head"><strong></strong> Available Sites</h3>
            <p class="results">Filter Sites By:</p>
            
            <div class="wrapper-dropdown" id="global-site-trending">
                <span>Recently Added</span>
                <ul id="website-trending">
                    
                </ul>
            </div>
            
            <div class="wrapper-dropdown" id="global-site-sex">
                <span>Sex</span>
                <ul id="website-sex">
                   
                </ul>
            </div>

            <ul class="list-tags">
            <!--@TODO Create cancelable elements after selections above from either drop downs -->
                

            </ul>
        </div>
    </section> 
    <section id="indie-populate-websites" class="indie-fill-websites">
        <div class="indie-fill-panel-wrapper">
            <div id="sidebar_search_block" class="sidebar-block">
            <!-- The empty div disappears when search results are found and inputs list stucture of the sites from the website model-->
            <!-- Or returns a <p> tag only inside the empty div with No results found! -->
            <script id="websiteTemplate" type="text/template">
                <strong><%= fields.description %></strong> 
            </script>


               <!--  <div class="empty">
                    <button class="btn btn-search-up btn-clear" type="button">
                        <span class="text-hide">
                            Go to Search.
                        </span>
                    </button>
                    <p>No Websites Available! Filter Again Above.</p>
                </div> -->
                     
           </div>
        </div>
        <div id="sidebar_right_loader" class="please-wait"><span class="text-hide">Loading...</span></div>
    </section>
</div>

