{% load url from future %}
{% load i18n %}
{% load cloudinary %}

<!-- Global Website search (top) -->
<section class="website-filtersearch overthrow">
    <header class="navigation__header navigation__header-search">
        <a id="indie-global-websearch-close" href="javascript:void(0)" class="navigation__header__close"><span class="icon-indie_web-03"></span></a>
    </header>   
    <div class="nav-sidebar" id="nav-filters">
        <div class="wrapper-nav">
            <h3 class="results">Filter Sites By:</h3>
            
            <div class="wrapper-dropdown" id="global-site-sex">
                <span>Categories</span>
                <ul id="website-sex" class="search-filter-container">
                   
                </ul>
            </div>

            <ul class="list-tags">
 
                <script id="listTagTemplate" type="text/template">

                  <% $.each(tags, function(filter_type, value) { %>
                    <li class="close style2"><a href="javascript:void(0)" data-filter-type="<%= filter_type %>"><%= value %></a></li>
                  <% }); %>
                </script>
            </ul>
        </div>
    </div> 
    <div id="indie-populate-websites" class="indie-fill-websites">
        <div class="indie-fill-panel-wrapper">
            <div id="sidebar_search_block" class="sidebar-block">      
                <script id="websiteTemplate" type="text/template">
                    <% $.each(websites, function(i, website) { %>
                        <% if(!website) { %>
                            <div class="empty">
                                <button class="btn btn-search-up btn-clear" type="button">
                                    <span class="text-hide">
                                        Go to Search.
                                    </span>
                                </button>
                                <p>No Websites Available! Filter Again Above.</p>
                            </div>
                    
                        <% } else { %>
                            <div class="og-expander">
                                <div class="og-expander-inner">
                                    <div class="og-fullimg">
                                        <img src="http://res.cloudinary.com/doqjl5owq/image/upload/<%= website.get('brand_logo') %>" style="display: inline;"></img>
                                    </div>
                                    <div class="og-details">
                                        <h3><%= website.get('brand_name') %></h3>
                                        <p><%= website.get('brand_description') %></p>
                                        <a href="<%= location.origin %>/brand/<%= website.get('slug') %>">Explore</a>
                                        <a href="javascript:void(0)">Mark <%= website.get('brand_name') %></a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                </script>
            </div>
        </div>
        <!-- <div id="sidebar_right_loader" class="please-wait"><span class="text-hide">Loading...</span></div> -->
    </div>
</section>


