{% load i18n %}
{% load account_tags %}

 

<ul>
{% if request.user.is_authenticated %}
    <li><a href="{% url "account_settings" %}"> {% trans "DASHBOARD" %}</a></li>
    <li><a id="account_logout" href="{% url "account_logout" %}"> {% trans "LOG OUT" %}</a></li>
    
    {% else %}
    <li><a href="{% url "account_login" %}"><span>{% trans "LOG IN" %}</span></a></li>
    <li><a href="{% url "account_signup" %}"><span>{% trans "SIGN UP" %}</span></a></li>
    
    {% endif %}
    <li><a href="{% url "home" %}"><span>HOME</span></a></li>
    <li><a href="#member"><a href="#"><span>ABOUT INDIESCRAP</span></a></li>
    <li><a href="#service"><span>LEGAL STUFF</span></a></li>
    <li><a href="#about"><span>CONTACT US</span></a></li>
</ul> 
<form id="accountLogOutForm" style="display: none;" action="{% url "account_logout" %}" method="POST">
    {% csrf_token %}
</form>
