{% load url from future %}
{% load cloudinary %}
{% load i18n %}

<!-- https://ununsplash.imgix.net/photo-1423483786645-576de98dcbed?q=75&fm=jpg&w=1080&fit=max&s=2630e1f38eaee38762fad980f628db52 -->
<li data-background="https://unsplash.imgix.net/photo-1417919385600-606273a94766?fit=crop&fm=jpg&h=700&q=75&w=1050">
    <div class="body">
        <h1>Indiescrap is a collection of independent fashion websites</h1>
        <p>Browse, shop and discover fashion that has a story.</p>
        <ul>
            {% block homepage_registration %}{% include "_global_partials/_registration_homepage.html" %}{% endblock %}
        </ul>
    </div>   
</li>
{% for object in website_list %}     
    {# Renders an IMG for a CloudinaryImage objects. #}
    {# THUMBNAIL defined in context_processors #}
    <li data-background="{% cloudinary_url object.product_image_feature BRANDIMAGE %}">
        <div class="body">
            <h1>{{object.name}}</h1>

            {% if object.menswear and not object.womenswear %}
                    <p>Available Products: Menswear Only</p>
            
                {% elif object.menswear and object.womenswear %}
                    <p>Available Products:  Menswear & Womeseswear</p>
                
                {% elif object.womenswear and not object.menswear%}
                    <p>Available Products: Womenswear Only</p>
                
                {% else %}
                    <p></p>
            
            {% endif %}
            <ul>
                <li class="flick-title-custom"><a href="browse/{{object.website_slug}}">{{object.name}}'s Products</a></li>
                <!-- <li class="flick-title-custom"><a href="#">{{object.name}}'s Story</span></a></li> -->
            </ul>
        </div> 
    </li>
{% endfor %} 



