{% load url from future %}
{% load cloudinary %}
{% load i18n %}

<!-- https://ununsplash.imgix.net/photo-1423483786645-576de98dcbed?q=75&fm=jpg&w=1080&fit=max&s=2630e1f38eaee38762fad980f628db52 -->
<li data-background="https://unsplash.imgix.net/photo-1417919385600-606273a94766?fit=crop&fm=jpg&h=700&q=75&w=1050">
    <div class="body">
        <h1>Indiescrap is a collection of independent fashion websites</h1>
        <p>Browse, shop and discover fashion that has a story.</p>
        <ul>
            {% block homepage_registration %}{% include "_global_partials/_registration_homepage.html" %}{% endblock %}
        </ul>
    </div>   
</li>
{% for brand in brand_list %}     
    <li data-background="{% cloudinary_url brand.brand_feature_image BRANDIMAGE %}">
        <div class="body">
            <h1>{{brand.brand_name}}</h1>
            <ul>
                <li class="flick-title-custom"><a href="{{brand.brand_detail_slug}}">View {{brand.brand_name}}</a></li>
            </ul>
        </div> 
    </li>
{% endfor %} 



