{% extends "site_base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load i18n %}
{% load cloudinary %}
{% load jsonify %}


{% block head_title %}{% trans "Homepage" %}{% endblock %}

{% block body_class %}page home{% endblock %}

{# block pre_wrapper_extra_base #}
<!-- <div id="border">
    <span class="top"></span>
    <span class="right"></span>
    <span class="bottom"></span>
    <span class="left"></span>
</div> -->
{# endblock #}


{% block body %}
<section class="indie-home-section"> 
    <ul>
        {% block homepage_websites %}{% include "_homepage_ajaxall.html" %} {% endblock %}
    </ul>
</section>
{% endblock %}

{% block footer %}{% endblock %}



{% block backbone_scripts_extra %}
    <!-- Bootstrapped Model -->
    <script type="text/javascript">
        var websites = {{ brand_list|jsonify }};
    </script>

    <!-- Collection -->
    <script src="{% static "backboneapp/collections/website_search_collection.js" %}"></script>

    <!-- View -->
    <script src="{% static "backboneapp/views/website_search_view.js" %}"></script>
{% endblock %}

{% block extra_script %}
	<script src="{% static "js/lib/flickerplate.js" %}"></script>
	<script src="{% static "js/lib/hammer-v2.0.3.min.js" %}"></script>
    <script>
        /*
         *
         * Plugin intializers
         *
         */

        $('.indie-home-section').flickerplate({
            auto_flick: true,
            auto_flick_delay: 10,
            flick_animation: 'transform-slide',
            dot_navigation: false
        });
    </script>
{% endblock %}


