{% extends "site_base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load i18n %}
{% load cloudinary %}

{% block head_title %}{% trans "Homepage" %}{% endblock %}


 {% block extra_style %}
    <link rel="stylesheet" href="{% static "css/jquery.fullPage.css" %}" />
 {% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div id="unlabelHomeContainer"> 
    
    <!-- Home -->
    <section id="unlabelHome" class="section-home unlabel-bg-dark">
        <div class="unlabelTable">
            <div class="unlabelTableCell">
                <a id="unlabelWatch" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" frameborder="0" height="281" width="500" target="_blank" href="">
                    <i class="unlabelWatchIcon">Watch Video</i>
                </a>
            </div>
        </div> 
        <div id="scroll_down">
            <div class="arrow down fixed"></div>
        </div> 
    </section>
   
   <!-- Brands -->
    <section class="section-home">
        <div class="unlabelHomeBrands">
            <figure class="unlabelHomeBrands-grid">
                <div class="unlabelHomeBrands-grid-inner">
                
                {% for brand in brand_list %}  
                    <div class="unlabelHomeBrands-grid-col-1 unlabelHomeBrands-grid-col-1-sm">
                        <div class="relative-container">
                            <div class="brand-tint" style="background: #0f0f0f url('{% cloudinary_url brand.brand_feature_image BRANDIMAGE %}') center center no-repeat; background-size: cover;"></div>
                            
                            <div class="table-cell">
                                <label class="brand-name">{{brand.brand_name}}</label>
                                <a class="brand-button" href="{{brand.get_absolute_url}}">View</a>
                            </div>
                        
                        </div>
                    </div>
                {% endfor %}  
               
                </div>
            </figure>
        </div>  
    </section>
</div>
{% endblock %}

{% block extra_script %}
 <script src="{% static "js/lib/jquery.fullPage.min.js" %}"></script>
    <script>
        ;(function($){

            $('#unlabelHomeContainer').fullpage({
                sectionSelector: '.section-home',
                anchors:['about', 'brands'],
            });
        
        })(jQuery); 
    </script>
{% endblock %}


